# QGIS용 데이터 정리

In [1]:
import pandas as pd
import numpy as np

## 유해업소 데이터 합치기 + 행정동 추가

In [2]:
df_1_1 = pd.read_csv('../data/raw_data/가중치선정/완료/1_1_유흥주점(좌표포함).csv')
df_1_2 = pd.read_csv('../data/raw_data/가중치선정/완료/1_2_단란주점(좌표포함).csv')
df_1_3 = pd.read_csv('../data/raw_data/가중치선정/완료/1_3_DVD방(비디오물감상실업)(좌표포함).csv')
df_1_4 = pd.read_csv('../data/raw_data/가중치선정/완료/1_4_성인게임방(일반게임제공업)(좌표포함).csv')
df_1_5 = pd.read_csv('../data/raw_data/가중치선정/완료/1_5_숙박업(좌표포함).csv')

In [3]:
df_1_1['업소구분'] = '유흥주점'
df_1_1.head()

,지번주소,사업장명,업태구분명,좌표정보(X),좌표정보(Y),법정동,자치구,업소구분
0,"서울특별시 강남구 역삼동 678-24 늘봄빌딩 2,3층",클라스,룸살롱,203330.125000,444424.745000,역삼동,강남구,유흥주점
1,서울특별시 송파구 가락동 98-7,골드1,룸살롱,210491.321884,443569.763243,가락동,송파구,유흥주점
2,서울특별시 영등포구 신길동 449-22 신성빌딩,린스,룸살롱,193084.355458,445642.841120,신길동,영등포구,유흥주점
3,서울특별시 서초구 잠원동 12-21,만남,룸살롱,201601.185141,446044.757176,잠원동,서초구,유흥주점
4,서울특별시 동대문구 장안동 382-23,아지트7080,룸살롱,206020.863854,451931.503922,장안동,동대문구,유흥주점

In [4]:
df_1_2['업소구분'] = '단란주점'
df_1_2.head()

,지번주소,사업장명,업태구분명,좌표정보(X),좌표정보(Y),자치구,법정동,업소구분
0,서울특별시 관악구 신림동 530-31 상진,판도라,단란주점,192332.463248,442308.045654,관악구,신림동,단란주점
1,서울특별시 은평구 구산동 321-98 지하1층,왓따7080,단란주점,191862.871845,456988.192685,은평구,구산동,단란주점
2,서울특별시 구로구 구로동 153-3,서담주점,단란주점,190601.661796,443226.994309,구로구,구로동,단란주점
3,서울특별시 중랑구 묵동 245-1,유토피아,단란주점,206813.057180,456188.141055,중랑구,묵동,단란주점
4,서울특별시 서대문구 홍제동 173-2,테크노,단란주점,195024.356116,453992.743836,서대문구,홍제동,단란주점

In [5]:
df_1_3['업소구분'] = 'DVD방'
df_1_3.head()

,지번주소,사업장명,업태구분명,좌표정보(X),좌표정보(Y),자치구,법정동,업소구분
0,서울특별시 종로구 관철동 14-3번지 5층,럭셔리 수 DVD관,NaN,198744.767994,451930.939476,종로구,관철동,DVD방
1,서울특별시 중구 을지로6가 18-96 4층,다락방 OTT,NaN,200640.845643,451721.924345,중구,을지로6가,DVD방
2,서울특별시 광진구 구의동 546-11번지 지너스타워 지하 106호,엠엔지 DVD 영화관,NaN,208189.434497,448129.166313,광진구,구의동,DVD방
3,서울특별시 광진구 화양동 8-24번지 (2층),엔디비디,NaN,206122.114682,448756.377807,광진구,화양동,DVD방
4,서울특별시 광진구 화양동 7-42번지,허리우드비디오감상실,NaN,206071.426953,448734.249359,광진구,화양동,DVD방

In [6]:
df_1_4['업소구분'] = '성인게임방'
df_1_4.head()

,지번주소,사업장명,업태구분명,좌표정보(X),좌표정보(Y),자치구,법정동,업소구분
0,서울특별시 동대문구 청량리동 770,킹게임랜드,NaN,203814.474073,453094.880884,동대문구,청량리동,성인게임방
1,서울특별시 동대문구 청량리동 291,환상게임랜드,NaN,203919.238239,453245.365781,동대문구,청량리동,성인게임방
2,서울특별시 동대문구 청량리동 249,ET게임랜드,NaN,204007.767059,453209.916468,동대문구,청량리동,성인게임방
3,서울특별시 구로구 가리봉동 135-9 1층,로얄바카라,NaN,190270.260953,441970.427503,구로구,가리봉동,성인게임방
4,서울특별시 도봉구 창동 650-47,제일게임랜드,NaN,202905.439654,460427.769520,도봉구,창동,성인게임방

In [7]:
df_1_5['업소구분'] = '숙박업'
df_1_5.head()

,지번주소,사업장명,업태구분명,좌표정보(X),좌표정보(Y),자치구,법정동,업소구분
0,서울특별시 중구 인현동1가 158,어반스테이 명동,숙박업(생활),199345.466097,451233.369781,중구,인현동1가,숙박업
1,서울특별시 중구 남산동2가 35-2,오요5(oYo5),관광호텔,198591.133748,450740.353160,중구,남산동2가,숙박업
2,서울특별시 중구 남대문로3가 94,더스테이클래식호텔,숙박업(생활),198037.338494,451010.546630,중구,남대문로3가,숙박업
3,서울특별시 중구 남산동2가 33-3 1~2층,오요5롯지A(oYo5LodgeA),숙박업 기타,198602.119250,450758.364667,중구,남산동2가,숙박업
4,"서울특별시 중구 남산동2가 33 1,2층",오요5롯지B(oYo5LodgeB),관광호텔,198607.670947,450770.829936,중구,남산동2가,숙박업

In [8]:
df_1 = pd.concat([df_1_1, df_1_2, df_1_3, df_1_4, df_1_5])
df_1

,지번주소,사업장명,업태구분명,좌표정보(X),좌표정보(Y),법정동,자치구,업소구분
0,"서울특별시 강남구 역삼동 678-24 늘봄빌딩 2,3층",클라스,룸살롱,203330.125000,444424.745000,역삼동,강남구,유흥주점
1,서울특별시 송파구 가락동 98-7,골드1,룸살롱,210491.321884,443569.763243,가락동,송파구,유흥주점
2,서울특별시 영등포구 신길동 449-22 신성빌딩,린스,룸살롱,193084.355458,445642.841120,신길동,영등포구,유흥주점
3,서울특별시 서초구 잠원동 12-21,만남,룸살롱,201601.185141,446044.757176,잠원동,서초구,유흥주점
4,서울특별시 동대문구 장안동 382-23,아지트7080,룸살롱,206020.863854,451931.503922,장안동,동대문구,유흥주점
...,...,...,...,...,...,...,...,...
2454,서울특별시 종로구 종로5가 66-1,이녹(李綠),여관업,200161.563979,452132.172041,종로5가,종로구,숙박업
2455,서울특별시 동작구 신대방동 687-8,신라장,여관업,191832.871758,442881.349005,신대방동,동작구,숙박업
2456,서울특별시 성북구 정릉동 408-11,웨이브,여관업,200850.193897,456070.122190,정릉동,성북구,숙박업
2457,서울특별시 강남구 대치동 995-14 지상3층~21.23층,파크하얏트서울,관광호텔,205601.904042,445151.509505,대치동,강남구,숙박업
2458,서울특별시 강서구 화곡동 24-77,설레임모텔,여관업,186372.412823,449366.415349,화곡동,강서구,숙박업

In [9]:
df_1 = df_1[['지번주소', '업소구분', '좌표정보(X)', '좌표정보(Y)', '법정동', '자치구']]
df_1

,지번주소,업소구분,좌표정보(X),좌표정보(Y),법정동,자치구
0,"서울특별시 강남구 역삼동 678-24 늘봄빌딩 2,3층",유흥주점,203330.125000,444424.745000,역삼동,강남구
1,서울특별시 송파구 가락동 98-7,유흥주점,210491.321884,443569.763243,가락동,송파구
2,서울특별시 영등포구 신길동 449-22 신성빌딩,유흥주점,193084.355458,445642.841120,신길동,영등포구
3,서울특별시 서초구 잠원동 12-21,유흥주점,201601.185141,446044.757176,잠원동,서초구
4,서울특별시 동대문구 장안동 382-23,유흥주점,206020.863854,451931.503922,장안동,동대문구
...,...,...,...,...,...,...
2454,서울특별시 종로구 종로5가 66-1,숙박업,200161.563979,452132.172041,종로5가,종로구
2455,서울특별시 동작구 신대방동 687-8,숙박업,191832.871758,442881.349005,신대방동,동작구
2456,서울특별시 성북구 정릉동 408-11,숙박업,200850.193897,456070.122190,정릉동,성북구
2457,서울특별시 강남구 대치동 995-14 지상3층~21.23층,숙박업,205601.904042,445151.509505,대치동,강남구
2458,서울특별시 강서구 화곡동 24-77,숙박업,186372.412823,449366.415349,화곡동,강서구

In [10]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6618 entries, 0 to 2458
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   지번주소     6618 non-null   object
 1   업소구분     6618 non-null   object
 2   좌표정보(X)  6584 non-null   float64
 3   좌표정보(Y)  6584 non-null   float64
 4   법정동      6618 non-null   object
 5   자치구      6618 non-null   object
dtypes: float64(2), object(4)
memory usage: 361.9+ KB

In [11]:
# df_1.to_csv('../data/raw_data/가중치선정/완료/1_유해업소(좌표포함).csv', index = False)

In [12]:
df_1 = pd.read_csv('../data/raw_data/가중치선정/완료/1_유해업소(좌표포함, 행정동 추가).csv', encoding='ansi')
df_1

,지번주소,업소구분,좌표정보(X),좌표정보(Y),자치구,법정동,행정동
0,서울특별시 종로구 신문로1가 31-0 지하1층,유흥주점,197656.177873,452014.977175,종로구,신문로1가,사직동
1,서울특별시 종로구 내수동 75번지 용비어천가 지하102호,유흥주점,197567.747824,452347.973860,종로구,내수동,사직동
2,서울특별시 종로구 당주동 18번지 지상3층,유흥주점,197745.004528,452127.244053,종로구,당주동,사직동
3,서울특별시 종로구 청진동 183-1번지 지하1층,유흥주점,198117.379630,452161.232874,종로구,청진동,사직동
4,"서울특별시 종로구 종로1가 24번지 르메이에르종로타운 지하2층 B203-1,B203-2",유흥주점,198150.300374,452019.212643,종로구,종로1가,사직동
...,...,...,...,...,...,...,...
6578,서울특별시 강북구 번동 446-27,숙박업,202101.987417,459300.054643,강북구,번동,인수동
6579,서울특별시 강북구 번동 446-6,숙박업,202095.644324,459273.785128,강북구,번동,인수동
6580,서울특별시 강북구 번동 446-65번지,숙박업,202099.597704,459286.919075,강북구,번동,인수동
6581,서울특별시 강북구 번동 446-28,숙박업,202109.463129,459308.956273,강북구,번동,인수동
6582,서울특별시 강북구 수유동 461-35,숙박업,201271.952392,459034.552628,강북구,수유동,인수동

In [13]:
# df_1.info()

In [14]:
# df_1 = df_1.dropna()
# df_1.info()

In [15]:
# df_1.rename(columns={'ADM_NM':'행정동'}, inplace=True)
# df_1.head()

In [16]:
# df_1 = df_1[['지번주소', '업소구분', '좌표정보(X)', '좌표정보(Y)', '자치구', '법정동', '행정동']]
df_1.to_csv('../data/raw_data/가중치선정/완료/1_유해업소(좌표포함, 행정동 추가).csv', index = False, encoding='ansi')

In [17]:
df_1

,지번주소,업소구분,좌표정보(X),좌표정보(Y),자치구,법정동,행정동
0,서울특별시 종로구 신문로1가 31-0 지하1층,유흥주점,197656.177873,452014.977175,종로구,신문로1가,사직동
1,서울특별시 종로구 내수동 75번지 용비어천가 지하102호,유흥주점,197567.747824,452347.973860,종로구,내수동,사직동
2,서울특별시 종로구 당주동 18번지 지상3층,유흥주점,197745.004528,452127.244053,종로구,당주동,사직동
3,서울특별시 종로구 청진동 183-1번지 지하1층,유흥주점,198117.379630,452161.232874,종로구,청진동,사직동
4,"서울특별시 종로구 종로1가 24번지 르메이에르종로타운 지하2층 B203-1,B203-2",유흥주점,198150.300374,452019.212643,종로구,종로1가,사직동
...,...,...,...,...,...,...,...
6578,서울특별시 강북구 번동 446-27,숙박업,202101.987417,459300.054643,강북구,번동,인수동
6579,서울특별시 강북구 번동 446-6,숙박업,202095.644324,459273.785128,강북구,번동,인수동
6580,서울특별시 강북구 번동 446-65번지,숙박업,202099.597704,459286.919075,강북구,번동,인수동
6581,서울특별시 강북구 번동 446-28,숙박업,202109.463129,459308.956273,강북구,번동,인수동
6582,서울특별시 강북구 수유동 461-35,숙박업,201271.952392,459034.552628,강북구,수유동,인수동

## 주유소, 가스충전소 데이터 합치기

In [18]:
df_4_1 = pd.read_csv('../data/raw_data/가중치선정/완료/4_1_주유소(좌표포함).csv')
df_4_2 = pd.read_csv('../data/raw_data/가중치선정/완료/4_2_가스충전소(위경도 추가).csv')

In [19]:
df_4_1

,지번주소,사업장명,업태구분명,좌표정보(X),좌표정보(Y),자치구,법정동
0,서울특별시 마포구 성산동 200-4,주식회사타이거통상 월드컵주유소,주유소,191961.827164,451692.303107,마포구,성산동
1,서울특별시 동작구 상도동 355-20,남양에너지,일반판매소,194076.692856,444318.185903,동작구,상도동
2,서울특별시 구로구 구로동 100-10,(주)한미석유 구로그린주유소,주유소,190065.327992,443794.958060,구로구,구로동
3,서울특별시 송파구 석촌동 295,에이치디현대오일뱅크(주)직영 잠실셀프주유소,주유소,209565.447766,444507.063566,송파구,석촌동
4,"서울특별시 광진구 능동 236-4 236-5, 236-24",에이치디현대오일뱅크(주)직영 능동주유소,주유소,207216.133825,450367.951562,광진구,능동
...,...,...,...,...,...,...,...
610,서울특별시 광진구 자양동 227-4,주식회사 유니스에너지,주유소,206638.326812,448433.165074,광진구,자양동
611,서울특별시 마포구 성산동 21-1,영풍에너지,일반판매소,192433.736074,451418.064309,마포구,성산동
612,서울특별시 서초구 서초동 1582-23,(주)한미석유 서초주유소,주유소,200883.863531,442666.820810,서초구,서초동
613,서울특별시 서초구 우면동 13-6 태봉주유소,태봉주유소,주유소,202422.841634,440678.229387,서초구,우면동
614,서울특별시 광진구 광장동 336-1,(주)강평텔레콤 강평주유소,주유소,209404.059857,449488.518401,광진구,광장동

In [20]:
df_4_1 = df_4_1[df_4_1['업태구분명'] != '일반판매소'] #일반판매소는 주유소 x 
df_4_1

,지번주소,사업장명,업태구분명,좌표정보(X),좌표정보(Y),자치구,법정동
0,서울특별시 마포구 성산동 200-4,주식회사타이거통상 월드컵주유소,주유소,191961.827164,451692.303107,마포구,성산동
2,서울특별시 구로구 구로동 100-10,(주)한미석유 구로그린주유소,주유소,190065.327992,443794.958060,구로구,구로동
3,서울특별시 송파구 석촌동 295,에이치디현대오일뱅크(주)직영 잠실셀프주유소,주유소,209565.447766,444507.063566,송파구,석촌동
4,"서울특별시 광진구 능동 236-4 236-5, 236-24",에이치디현대오일뱅크(주)직영 능동주유소,주유소,207216.133825,450367.951562,광진구,능동
5,서울특별시 성동구 성수동1가 33-96,SK에너지(주) 성수주유소,주유소,204343.802650,448635.473098,성동구,성수동1가
...,...,...,...,...,...,...,...
609,서울특별시 강동구 강일동 642-1,해뜨는 주유소,주유소,NaN,NaN,강동구,강일동
610,서울특별시 광진구 자양동 227-4,주식회사 유니스에너지,주유소,206638.326812,448433.165074,광진구,자양동
612,서울특별시 서초구 서초동 1582-23,(주)한미석유 서초주유소,주유소,200883.863531,442666.820810,서초구,서초동
613,서울특별시 서초구 우면동 13-6 태봉주유소,태봉주유소,주유소,202422.841634,440678.229387,서초구,우면동
614,서울특별시 광진구 광장동 336-1,(주)강평텔레콤 강평주유소,주유소,209404.059857,449488.518401,광진구,광장동

In [21]:
df_4_2

,상호,주소,자치구,법정동,lat,lng
0,방화동LPG충전소,서울특별시 강서구 개화동 565번지 4호,강서구,개화동,126.802039,37.574437
1,복지송파충전소,서울특별시 송파구 장지동 907번지,송파구,장지동,127.131649,37.475470
2,활주로충전소,서울특별시 강서구 외발산동 384번지 4호,강서구,외발산동,126.816286,37.542898
3,한경에너지,서울특별시 강서구 개화동 215번지 6호,강서구,개화동,126.799939,37.587962
4,대영가스충전소,서울특별시 강서구 마곡동 761번지 2호 대영가스충전소,강서구,마곡동,126.829392,37.572230
...,...,...,...,...,...,...
110,한일가스산업(주),서울특별시 구로구 구로동 600번지 6호,구로구,구로동,126.879955,37.501980
111,양평동충전소,서울특별시 영등포구 양평동3가 59번지,영등포구,양평동3가,126.891170,37.528055
112,주식회사 행복에너지,서울특별시 도봉구 방학동 707번지 2호,도봉구,방학동,127.043658,37.665742
113,서울와사공업(주),서울특별시 강북구 번동 446번지 31호,강북구,번동,127.026168,37.637435
114,대성산업(주)오류동충전소,서울특별시 구로구 오류동 74번지 8호 오류가스충전소,구로구,오류동,126.839725,37.493274

In [22]:
df_4_1['업소구분'] = '주유소'

C:\Users\yju12\AppData\Local\Temp\ipykernel_2928\398092292.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_4_1['업소구분'] = '주유소'

In [24]:
df_4_2['업소구분'] = '가스충전소'

In [25]:
df_4_1 = df_4_1[['지번주소', '업소구분', '좌표정보(X)', '좌표정보(Y)', '자치구', '법정동']]
df_4_1.head()

,지번주소,업소구분,좌표정보(X),좌표정보(Y),자치구,법정동
0,서울특별시 마포구 성산동 200-4,주유소,191961.827164,451692.303107,마포구,성산동
2,서울특별시 구로구 구로동 100-10,주유소,190065.327992,443794.958060,구로구,구로동
3,서울특별시 송파구 석촌동 295,주유소,209565.447766,444507.063566,송파구,석촌동
4,"서울특별시 광진구 능동 236-4 236-5, 236-24",주유소,207216.133825,450367.951562,광진구,능동
5,서울특별시 성동구 성수동1가 33-96,주유소,204343.802650,448635.473098,성동구,성수동1가

In [26]:
df_4_2 = df_4_2[['주소', '업소구분', 'lat', 'lng', '자치구', '법정동']]
df_4_2.head()

                                 주소   업소구분         lat        lng  자치구   법정동
0         서울특별시 강서구 개화동  565번지 4호    가스충전소  126.802039  37.574437  강서구   개화동
1            서울특별시 송파구 장지동  907번지    가스충전소  127.131649  37.475470  송파구   장지동
2        서울특별시 강서구 외발산동  384번지 4호    가스충전소  126.816286  37.542898  강서구  외발산동
3         서울특별시 강서구 개화동  215번지 6호    가스충전소  126.799939  37.587962  강서구   개화동
4  서울특별시 강서구 마곡동  761번지 2호  대영가스충전소  가스충전소  126.829392  37.572230  강서구   마곡동

In [28]:
# df_4_1.to_csv('../data/raw_data/가중치선정/완료/4_1_주유소(QGIS).csv', index=False, encoding='ansi')
# df_4_2.to_csv('../data/raw_data/가중치선정/완료/4_2_가스충전소(QGIS).csv', index=False, encoding='ansi')

In [29]:
df_4_1 = pd.read_csv('../data/raw_data/가중치선정/완료/4_1_주유소(QGIS완).csv')
df_4_2 = pd.read_csv('../data/raw_data/가중치선정/완료/4_2_가스충전소(QGIS완).csv')

In [31]:
df_4_1.rename(columns={'ADM_NM':'행정동'}, inplace=True)
df_4_2.rename(columns={'ADM_NM':'행정동'}, inplace=True)

In [35]:
df_4_1 = df_4_1.dropna()
df_4_2 = df_4_2.dropna()

In [40]:
df_4_1.head()

                    지번주소 업소구분        좌표정보(X)        좌표정보(Y)  자치구  법정동  행정동
0  서울특별시 종로구 사직동 262-85   주유소  196980.506320  452468.722637  종로구  사직동  사직동
1    서울특별시 종로구 경운동 96-18  주유소  198679.806955  452681.467827  종로구  경운동  삼청동
2    서울특별시 종로구 홍지동 126-1  주유소  196322.528330  455210.552274  종로구  홍지동  부암동
3   서울특별시 종로구 부암동 155-3   주유소  196777.054252  454890.467555  종로구  부암동  부암동
4   서울특별시 종로구 평창동 103-1   주유소  197714.057733  456392.885562  종로구  평창동  평창동

In [41]:
df_4_2.head()

,주소,업소구분,lat,lng,자치구,법정동,행정동
0,서울특별시 강서구 개화동 565번지 4호,가스충전소,126.802039,37.574437,강서구,개화동,방화2동
1,서울특별시 송파구 장지동 907번지,가스충전소,127.131649,37.475470,송파구,장지동,위례동
2,서울특별시 강서구 외발산동 384번지 4호,가스충전소,126.816286,37.542898,강서구,외발산동,발산1동
3,서울특별시 강서구 개화동 215번지 6호,가스충전소,126.799939,37.587962,강서구,개화동,방화2동
4,서울특별시 강서구 마곡동 761번지 2호 대영가스충전소,가스충전소,126.829392,37.572230,강서구,마곡동,가양1동

In [39]:
# df_4_1.to_csv('../data/raw_data/가중치선정/완료/4_1_주유소(QGIS).csv', index=False)
# df_4_2.to_csv('../data/raw_data/가중치선정/완료/4_2_가스충전소(QGIS).csv', index=False)

## 23년 행정동별 출생인구수

In [99]:
df_born = pd.read_csv('../data/raw_data/가중치선정/완료/9_추가_행정동별 출생인구수.csv')
df_born

     자치구   행정동  23년 출생인구
0    종로구   사직동        25
1    종로구   삼청동         6
2    종로구   부암동        20
3    종로구   평창동        66
4    종로구   무악동        31
..   ...   ...       ...
421  강동구  천호2동       177
422  강동구    길동       200
423  강동구   강일동       169
424  강동구  상일1동       244
425  강동구  상일2동        55

[426 rows x 3 columns]

In [100]:
df_born.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 426 entries, 0 to 425
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   자치구       426 non-null    object
 1   행정동       426 non-null    object
 2   23년 출생인구  426 non-null    int64
dtypes: int64(1), object(2)
memory usage: 10.1+ KB

In [101]:
df_born[df_born['행정동'] == '신사동']

     자치구  행정동  23년 출생인구
329  관악구  신사동        40
358  강남구  신사동        67

## 2030 상주 인구수

In [102]:
df_age = pd.read_csv('../data/raw_data/가중치선정/완료/8_추가_행정동별 2030인구.csv')
df_age

      행정동  연령대_20_상주인구_수  연령대_30_상주인구_수
0    가락1동    2332.894737    3448.157895
1    가락2동    4593.578947    4869.947368
2    가락본동    4105.421053    4820.947368
3    가리봉동    1258.789474    1235.578947
4     가산동    4915.789474    5092.368421
..    ...            ...            ...
422  휘경2동    4817.315789    3297.578947
423   흑석동    4675.421053    4566.526316
424  상일1동    1154.500000    1496.500000
425  상일2동    1154.500000    1496.500000
426  개포3동    2142.666667    2084.333333

[427 rows x 3 columns]

In [103]:
df_age['2030인구수'] = df_age['연령대_20_상주인구_수'] + df_age['연령대_30_상주인구_수']

In [104]:
df_age = df_age[['행정동', '2030인구수']]
df_age['2030인구수'] = df_age['2030인구수'].astype('int')
df_age

C:\Users\yju12\AppData\Local\Temp\ipykernel_2928\3267845716.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_age['2030인구수'] = df_age['2030인구수'].astype('int')

      행정동  2030인구수
0    가락1동     5781
1    가락2동     9463
2    가락본동     8926
3    가리봉동     2494
4     가산동    10008
..    ...      ...
422  휘경2동     8114
423   흑석동     9241
424  상일1동     2651
425  상일2동     2651
426  개포3동     4227

[427 rows x 2 columns]

In [105]:
df_born['행정동'] = df_born['행정동'].str.replace('.', '·')

C:\Users\yju12\AppData\Local\Temp\ipykernel_2928\1148287058.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_born['행정동'] = df_born['행정동'].str.replace('.', '·')

In [106]:
df_m = pd.merge(df_2030, df_born, on = '행정동', how = 'outer')
df_m

      행정동      2030상주인구   자치구  23년 출생인구
0    가락1동   5781.052632   송파구     227.0
1    가락2동   9463.526316   송파구     144.0
2    가락본동   8926.368421   송파구     137.0
3    가리봉동   2494.368421   구로구      17.0
4     가산동  10008.157895   금천구      93.0
..    ...           ...   ...       ...
423  휘경2동   8114.894737  동대문구      75.0
424   흑석동   9241.947368   동작구     176.0
425  상일1동   2651.000000   강동구     244.0
426  상일2동   2651.000000   강동구      55.0
427  개포3동   4227.000000   강남구      98.0

[428 rows x 4 columns]

In [107]:
df_m[df_m['2030상주인구'].isna()]

Empty DataFrame
Columns: [행정동, 2030상주인구, 자치구, 23년 출생인구]
Index: []

In [108]:
df_m[df_m['23년 출생인구'].isna()]
# 출생인구 상일1동, 상일2동 -> 상일동으로 합치기
# 출생인구 일원2동 -> 일원본동으로 수정

      행정동     2030상주인구  자치구  23년 출생인구
185   상일동  5302.684211  NaN       NaN
325  일원2동  4360.000000  NaN       NaN

In [109]:
df_born[df_born['행정동'].str.contains('상일')]

     자치구   행정동  23년 출생인구
424  강동구  상일1동       244
425  강동구  상일2동        55

In [110]:
df_m = df_m.dropna()
df_m

      행정동      2030상주인구   자치구  23년 출생인구
0    가락1동   5781.052632   송파구     227.0
1    가락2동   9463.526316   송파구     144.0
2    가락본동   8926.368421   송파구     137.0
3    가리봉동   2494.368421   구로구      17.0
4     가산동  10008.157895   금천구      93.0
..    ...           ...   ...       ...
423  휘경2동   8114.894737  동대문구      75.0
424   흑석동   9241.947368   동작구     176.0
425  상일1동   2651.000000   강동구     244.0
426  상일2동   2651.000000   강동구      55.0
427  개포3동   4227.000000   강남구      98.0

[426 rows x 4 columns]

In [111]:
df_m['2030상주인구'] = df_m['2030상주인구'].astype('int')
df_m['2030대비 출생인구비율(%)'] = round((df_m['23년 출생인구'] / df_m['2030상주인구'])*100, 2)
df_m

C:\Users\yju12\AppData\Local\Temp\ipykernel_2928\3963692202.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_m['2030상주인구'] = df_m['2030상주인구'].astype('int')
C:\Users\yju12\AppData\Local\Temp\ipykernel_2928\3963692202.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_m['2030대비 출생인구비율(%)'] = round((df_m['23년 출생인구'] / df_m['2030상주인구'])*100, 2)

      행정동  2030상주인구   자치구  23년 출생인구  2030대비 출생인구비율(%)
0    가락1동      5781   송파구     227.0              3.93
1    가락2동      9463   송파구     144.0              1.52
2    가락본동      8926   송파구     137.0              1.53
3    가리봉동      2494   구로구      17.0              0.68
4     가산동     10008   금천구      93.0              0.93
..    ...       ...   ...       ...               ...
423  휘경2동      8114  동대문구      75.0              0.92
424   흑석동      9241   동작구     176.0              1.90
425  상일1동      2651   강동구     244.0              9.20
426  상일2동      2651   강동구      55.0              2.07
427  개포3동      4227   강남구      98.0              2.32

[426 rows x 5 columns]

In [113]:
df_2030_new = df_m[['행정동', '2030상주인구']]
df_born_rate = df_m[['행정동', '2030대비 출생인구비율(%)']]

In [117]:
df_2030_new.to_csv('../data/raw_data/가중치선정/완료/10_1_행정동별 2030상주인구수.csv', index = False, encoding='utf-8')
df_born_rate.to_csv('../data/raw_data/가중치선정/완료/10_2_행정동별 2030대비 인구비율.csv', index = False, encoding='utf-8')

In [118]:
df_2030_new

      행정동  2030상주인구
0    가락1동      5781
1    가락2동      9463
2    가락본동      8926
3    가리봉동      2494
4     가산동     10008
..    ...       ...
423  휘경2동      8114
424   흑석동      9241
425  상일1동      2651
426  상일2동      2651
427  개포3동      4227

[426 rows x 2 columns]

In [119]:
df_born_rate

      행정동  2030대비 출생인구비율(%)
0    가락1동              3.93
1    가락2동              1.52
2    가락본동              1.53
3    가리봉동              0.68
4     가산동              0.93
..    ...               ...
423  휘경2동              0.92
424   흑석동              1.90
425  상일1동              9.20
426  상일2동              2.07
427  개포3동              2.32

[426 rows x 2 columns]