In [129]:
import pandas as pd 
import numpy as np

In [130]:
df = pd.read_csv('EDA용.csv')
df.head()

,자치구,행정동,유해업소수,대형쇼핑몰수,도서관수,미술관 박물관 극장수,"의료시설수(병원,의원,보건소,보건지소)",공원 수,경로당 수,보육시설정원,...,월평균소득금액,평균면적(m^2),면적당 가격(만원/m^2),"주유소,가스충전소 수",0~9세,2030_상주인구수,23년 출생인구,공립,사립,공립+사립
0,종로구,사직동,23,1,2,5,2,6,1,954,...,5039456,135,1231,1,462,2476,25,0,2,2
1,종로구,부암동,2,0,0,6,0,0,1,150,...,3661725,74,628,3,381,2586,20,0,2,2
2,종로구,평창동,6,0,0,6,1,3,6,175,...,4544046,120,780,3,996,4740,66,0,1,1
3,용산구,한남동,21,0,0,2,1,1,10,364,...,4397761,129,1995,5,1027,6364,114,1,0,1
4,성동구,왕십리2동,42,0,0,0,0,2,18,376,...,3487691,61,1273,0,1053,5333,104,1,1,2

In [131]:
df['2030대비 출생아수(%)'] = round((df['23년 출생인구'] / df['2030_상주인구수'])*100, 2)
df

,자치구,행정동,유해업소수,대형쇼핑몰수,도서관수,미술관 박물관 극장수,"의료시설수(병원,의원,보건소,보건지소)",공원 수,경로당 수,보육시설정원,...,평균면적(m^2),면적당 가격(만원/m^2),"주유소,가스충전소 수",0~9세,2030_상주인구수,23년 출생인구,공립,사립,공립+사립,2030대비 출생아수(%)
0,종로구,사직동,23,1,2,5,2,6,1,954,...,135,1231,1,462,2476,25,0,2,2,1.01
1,종로구,부암동,2,0,0,6,0,0,1,150,...,74,628,3,381,2586,20,0,2,2,0.77
2,종로구,평창동,6,0,0,6,1,3,6,175,...,120,780,3,996,4740,66,0,1,1,1.39
3,용산구,한남동,21,0,0,2,1,1,10,364,...,129,1995,5,1027,6364,114,1,0,1,1.79
4,성동구,왕십리2동,42,0,0,0,0,2,18,376,...,61,1273,0,1053,5333,104,1,1,2,1.95
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
415,종로구,교남동,3,0,1,1,2,1,2,323,...,59,1895,0,741,2650,49,0,0,0,1.85
416,종로구,종로1·2·3·4가동,289,11,0,13,0,4,18,741,...,75,958,5,170,1751,12,0,1,1,0.69
417,서초구,방배2동,1,0,0,0,1,6,5,694,...,104,1594,3,934,6287,99,0,0,0,1.57
418,강북구,미아동,7,1,1,1,3,5,7,347,...,71,695,1,565,6640,48,0,0,0,0.72
419,강북구,인수동,29,0,0,0,4,2,8,367,...,60,532,2,1142,8045,57,1,2,3,0.71

In [132]:
df = df[['자치구', '행정동', '유해업소수', '대형쇼핑몰수', '도서관수', '미술관 박물관 극장수',
       '의료시설수(병원,의원,보건소,보건지소)', '공원 수', '경로당 수', '보육시설정원', '보육시설현원', '보육시설포화도',
       '횡단보도수', '육교수', 'CCTV수', '월평균소득금액', '평균면적(m^2)', '면적당 가격(만원/m^2)',
       '주유소,가스충전소 수', '0~9세', '2030_상주인구수', '23년 출생인구', '2030대비 출생아수(%)', '공립', '사립', '공립+사립',]]

## 자치구별 0~9세 최대,최소 행정동

In [133]:
df_age_lg = df.groupby('자치구').apply(lambda x: x.nlargest(1, '0~9세')).reset_index(drop=True)
df_age_lg.head()

,자치구,행정동,유해업소수,대형쇼핑몰수,도서관수,미술관 박물관 극장수,"의료시설수(병원,의원,보건소,보건지소)",공원 수,경로당 수,보육시설정원,...,평균면적(m^2),면적당 가격(만원/m^2),"주유소,가스충전소 수",0~9세,2030_상주인구수,23년 출생인구,2030대비 출생아수(%),공립,사립,공립+사립
0,강남구,세곡동,0,1,1,1,3,20,21,1299,...,80,1759,10,3642,11923,268,2.25,5,1,6
1,강동구,상일1동,1,0,1,0,1,6,8,856,...,72,1594,3,4517,2651,244,9.20,2,3,5
2,강북구,삼각산동,5,1,1,0,0,2,9,913,...,76,1041,0,2260,7491,130,1.74,0,1,1
3,강서구,염창동,8,2,1,0,3,4,35,1271,...,77,1123,3,3436,12119,330,2.72,1,0,1
4,관악구,은천동,4,0,2,0,1,5,11,648,...,74,1028,0,1578,10549,136,1.29,2,3,5

In [134]:
df_age_sm = df.groupby('자치구').apply(lambda x: x.nsmallest(1, '0~9세')).reset_index(drop=True)
df_age_sm.head()

,자치구,행정동,유해업소수,대형쇼핑몰수,도서관수,미술관 박물관 극장수,"의료시설수(병원,의원,보건소,보건지소)",공원 수,경로당 수,보육시설정원,...,평균면적(m^2),면적당 가격(만원/m^2),"주유소,가스충전소 수",0~9세,2030_상주인구수,23년 출생인구,2030대비 출생아수(%),공립,사립,공립+사립
0,강남구,수서동,1,2,0,0,1,7,9,390,...,94,2147,1,522,4098,92,2.24,1,3,4
1,강동구,성내2동,20,2,0,0,4,1,3,569,...,77,1058,3,843,7900,110,1.39,0,0,0
2,강북구,번1동,2,3,0,0,3,3,6,363,...,71,777,2,487,5919,42,0.71,1,1,2
3,강서구,가양2동,0,5,0,1,0,5,7,352,...,91,1156,0,429,4378,54,1.23,1,2,3
4,관악구,신림동,156,4,0,0,12,3,3,171,...,41,878,0,256,13004,31,0.24,0,0,0

In [135]:
df.columns

Index(['자치구', '행정동', '유해업소수', '대형쇼핑몰수', '도서관수', '미술관 박물관 극장수',
       '의료시설수(병원,의원,보건소,보건지소)', '공원 수', '경로당 수', '보육시설정원', '보육시설현원', '보육시설포화도',
       '횡단보도수', '육교수', 'CCTV수', '월평균소득금액', '평균면적(m^2)', '면적당 가격(만원/m^2)',
       '주유소,가스충전소 수', '0~9세', '2030_상주인구수', '23년 출생인구', '2030대비 출생아수(%)', '공립',
       '사립', '공립+사립'],
      dtype='object')

In [136]:
col_lst = ['유해업소수', '대형쇼핑몰수', '도서관수', '미술관 박물관 극장수', '의료시설수(병원,의원,보건소,보건지소)', 
           '공원 수', '경로당 수', '보육시설정원', '보육시설현원', '보육시설포화도',
           '횡단보도수', '육교수', 'CCTV수', '월평균소득금액', '평균면적(m^2)', '면적당 가격(만원/m^2)',
           '주유소,가스충전소 수', '0~9세', '2030_상주인구수', '2030대비 출생아수(%)', '공립', '사립', '공립+사립']

In [137]:
for col in col_lst:
    mean_val = round(df_age_lg[col].mean(),2)
    print(f"{col} 평균 : {mean_val}")

유해업소수 평균 : 8.36
대형쇼핑몰수 평균 : 1.8
도서관수 평균 : 0.96
미술관 박물관 극장수 평균 : 0.48
의료시설수(병원,의원,보건소,보건지소) 평균 : 2.48
공원 수 평균 : 4.48
경로당 수 평균 : 15.56
보육시설정원 평균 : 883.76
보육시설현원 평균 : 709.56
보육시설포화도 평균 : 0.81
횡단보도수 평균 : 75.4
육교수 평균 : 5.36
CCTV수 평균 : 213.0
월평균소득금액 평균 : 4030535.12
평균면적(m^2) 평균 : 84.2
면적당 가격(만원/m^2) 평균 : 1315.4
주유소,가스충전소 수 평균 : 2.72
0~9세 평균 : 2742.44
2030_상주인구수 평균 : 8748.28
2030대비 출생아수(%) 평균 : 2.43
공립 평균 : 1.64
사립 평균 : 2.44
공립+사립 평균 : 4.08

In [138]:
for col in col_lst:
    mean_val = round(df_age_sm[col].mean(),2)
    print(f"{col} 평균 : {mean_val}")

유해업소수 평균 : 25.0
대형쇼핑몰수 평균 : 1.76
도서관수 평균 : 0.16
미술관 박물관 극장수 평균 : 0.4
의료시설수(병원,의원,보건소,보건지소) 평균 : 2.48
공원 수 평균 : 2.24
경로당 수 평균 : 4.44
보육시설정원 평균 : 347.08
보육시설현원 평균 : 223.2
보육시설포화도 평균 : 0.65
횡단보도수 평균 : 31.52
육교수 평균 : 4.12
CCTV수 평균 : 187.6
월평균소득금액 평균 : 2825124.92
평균면적(m^2) 평균 : 74.52
면적당 가격(만원/m^2) 평균 : 1024.64
주유소,가스충전소 수 평균 : 1.52
0~9세 평균 : 416.56
2030_상주인구수 평균 : 5124.8
2030대비 출생아수(%) 평균 : 0.87
공립 평균 : 0.52
사립 평균 : 0.88
공립+사립 평균 : 1.4

In [139]:
df_age = pd.concat([df_age_lg[['자치구', '행정동']], df_age_sm[['행정동']]], axis=1)
df_age.columns = ['자치구', '행정동_0~9세 최대', '행정동_0~9세 최소']
df_age

     자치구 행정동_0~9세 최대 행정동_0~9세 최소
0    강남구         세곡동         수서동
1    강동구        상일1동        성내2동
2    강북구        삼각산동         번1동
3    강서구         염창동        가양2동
4    관악구         은천동         신림동
5    광진구         광장동         화양동
6    구로구        신도림동        가리봉동
7    금천구        독산1동        시흥3동
8    노원구        공릉2동        상계2동
9    도봉구        방학3동         창3동
10  동대문구        장안2동         회기동
11   동작구         흑석동       노량진2동
12   마포구         아현동         연남동
13  서대문구       남가좌2동         신촌동
14   서초구        반포1동        방배1동
15   성동구         옥수동         용답동
16   성북구        길음1동         안암동
17   송파구         위례동        거여1동
18   양천구        신정3동        신월3동
19  영등포구         문래동        대림2동
20   용산구        이촌1동         남영동
21   은평구         진관동        갈현1동
22   종로구         평창동        창신1동
23    중구         중림동          명동
24   중랑구        망우본동        망우3동

In [140]:
# 0~9세 인원 최대
df[df['0~9세'] == df['0~9세'].max()]

,자치구,행정동,유해업소수,대형쇼핑몰수,도서관수,미술관 박물관 극장수,"의료시설수(병원,의원,보건소,보건지소)",공원 수,경로당 수,보육시설정원,...,평균면적(m^2),면적당 가격(만원/m^2),"주유소,가스충전소 수",0~9세,2030_상주인구수,23년 출생인구,2030대비 출생아수(%),공립,사립,공립+사립
119,송파구,위례동,0,0,1,0,1,4,11,1865,...,92,1744,2,6382,7293,335,4.59,5,0,5

In [141]:
# 0~9세 인원 최소
df[df['0~9세'] == df['0~9세'].min()]

,자치구,행정동,유해업소수,대형쇼핑몰수,도서관수,미술관 박물관 극장수,"의료시설수(병원,의원,보건소,보건지소)",공원 수,경로당 수,보육시설정원,...,평균면적(m^2),면적당 가격(만원/m^2),"주유소,가스충전소 수",0~9세,2030_상주인구수,23년 출생인구,2030대비 출생아수(%),공립,사립,공립+사립
135,중구,명동,130,9,1,2,2,2,1,627,...,167,1198,1,59,597,5,0.84,0,0,0

In [142]:
# 유치원수(공립+사립) 최대 
df[df['공립+사립'] == df['공립+사립'].max()]

,자치구,행정동,유해업소수,대형쇼핑몰수,도서관수,미술관 박물관 극장수,"의료시설수(병원,의원,보건소,보건지소)",공원 수,경로당 수,보육시설정원,...,평균면적(m^2),면적당 가격(만원/m^2),"주유소,가스충전소 수",0~9세,2030_상주인구수,23년 출생인구,2030대비 출생아수(%),공립,사립,공립+사립
203,노원구,공릉2동,0,1,1,2,2,9,23,1326,...,75,913,6,2891,11860,223,1.88,2,8,10

In [143]:
# 유치원수(공립+사립)이 0인곳 
df[df['공립+사립'] == 0]

,자치구,행정동,유해업소수,대형쇼핑몰수,도서관수,미술관 박물관 극장수,"의료시설수(병원,의원,보건소,보건지소)",공원 수,경로당 수,보육시설정원,...,평균면적(m^2),면적당 가격(만원/m^2),"주유소,가스충전소 수",0~9세,2030_상주인구수,23년 출생인구,2030대비 출생아수(%),공립,사립,공립+사립
9,중구,광희동,82,13,0,0,2,3,3,183,...,52,1070,3,124,1480,18,1.22,0,0,0
12,용산구,용산2가동,6,0,0,0,0,0,4,141,...,71,850,0,255,3212,29,0.90,0,0,0
13,용산구,남영동,20,0,0,1,0,2,4,131,...,117,1232,1,126,1883,16,0.85,0,0,0
15,용산구,효창동,1,0,0,2,0,2,4,375,...,78,1417,0,751,3043,68,2.23,0,0,0
17,용산구,이태원1동,25,1,0,0,1,1,6,230,...,172,1510,0,205,2070,22,1.06,0,0,0
48,종로구,이화동,1,0,0,3,3,1,4,148,...,49,803,1,171,2941,9,0.31,0,0,0
50,종로구,창신2동,9,0,0,0,0,1,4,188,...,56,823,0,157,2197,10,0.46,0,0,0
82,서대문구,충현동,4,0,0,1,1,0,6,505,...,80,1156,1,1046,5838,63,1.08,0,0,0
90,영등포구,신길1동,7,2,1,0,12,2,16,363,...,43,1109,1,733,5924,89,1.50,0,0,0
105,동작구,신대방2동,4,1,0,0,2,0,1,636,...,104,1036,2,1449,6644,146,2.20,0,0,0
125,성북구,정릉2동,2,0,1,0,2,1,14,246,...,71,954,3,1246,6248,104,1.66,0,0,0
130,종로구,숭인2동,35,1,1,0,1,1,3,106,...,34,789,1,194,3380,19,0.56,0,0,0
135,중구,명동,130,9,1,2,2,2,1,627,...,167,1198,1,59,597,5,0.84,0,0,0
142,용산구,한강로동,25,10,0,1,0,4,8,713,...,107,1817,2,1231,5836,161,2.76,0,0,0
143,중구,황학동,14,1,0,0,2,1,3,289,...,49,983,0,650,4507,67,1.49,0,0,0
150,중구,동화동,0,0,1,0,0,2,6,235,...,85,1181,1,571,2915,48,1.65,0,0,0
152,용산구,이촌2동,1,0,0,0,0,1,6,174,...,61,2285,0,425,2425,49,2.02,0,0,0
157,성동구,성수1가2동,3,1,0,0,1,2,8,291,...,75,1663,3,600,4692,70,1.49,0,0,0
167,광진구,중곡1동,11,0,0,0,0,1,2,163,...,67,758,2,565,5612,63,1.12,0,0,0
176,송파구,잠실본동,41,5,1,0,1,6,6,451,...,68,1490,4,951,10835,95,0.88,0,0,0
197,중랑구,면목5동,6,1,0,0,0,2,3,290,...,73,1090,3,1313,3497,114,3.26,0,0,0
229,도봉구,쌍문3동,12,0,0,0,1,2,7,455,...,66,664,3,666,4867,52,1.07,0,0,0
232,도봉구,방학2동,10,0,0,0,1,5,4,651,...,61,445,2,660,5212,44,0.84,0,0,0
258,은평구,대조동,73,6,0,0,2,1,4,604,...,33,932,0,918,9087,94,1.03,0,0,0
277,마포구,망원1동,4,1,0,0,0,3,5,446,...,83,1035,0,779,6772,66,0.97,0,0,0
280,마포구,서강동,24,1,1,1,2,6,11,716,...,92,1362,1,1594,8145,88,1.08,0,0,0
281,마포구,아현동,15,1,0,0,1,1,18,905,...,83,1667,2,2932,7821,255,3.26,0,0,0
312,구로구,가리봉동,25,0,0,0,5,0,4,204,...,71,670,1,175,2494,17,0.68,0,0,0
322,금천구,시흥4동,0,1,0,0,8,8,7,824,...,74,580,0,752,5571,56,1.01,0,0,0
333,동작구,사당4동,2,0,0,0,2,5,4,341,...,91,969,0,553,4837,56,1.16,0,0,0
339,관악구,낙성대동,9,1,0,0,1,4,4,844,...,74,875,5,498,7985,68,0.85,0,0,0
342,관악구,서원동,7,3,0,0,7,2,5,465,...,65,881,0,495,10297,64,0.62,0,0,0
344,관악구,신림동,156,4,0,0,12,3,3,171,...,41,878,0,256,13004,31,0.24,0,0,0
346,관악구,조원동,57,0,1,0,3,2,5,420,...,61,894,1,687,6859,89,1.30,0,0,0
348,서초구,방배1동,2,0,0,0,2,2,1,150,...,113,1598,0,934,5420,83,1.53,0,0,0
358,서초구,반포4동,0,1,1,0,2,4,6,752,...,148,1533,1,1425,5080,94,1.85,0,0,0
363,강남구,삼성2동,47,4,1,0,2,5,12,768,...,89,2113,1,1985,8826,130,1.47,0,0,0
395,송파구,문정2동,2,8,0,0,4,9,4,546,...,105,1694,3,1447,11535,169,1.47,0,0,0
406,강동구,성내2동,20,2,0,0,4,1,3,569,...,77,1058,3,843,7900,110,1.39,0,0,0
415,종로구,교남동,3,0,1,1,2,1,2,323,...,59,1895,0,741,2650,49,1.85,0,0,0
417,서초구,방배2동,1,0,0,0,1,6,5,694,...,104,1594,3,934,6287,99,1.57,0,0,0
418,강북구,미아동,7,1,1,1,3,5,7,347,...,71,695,1,565,6640,48,0.72,0,0,0

In [144]:
# 유치원수(공립) 최대
df[df['공립'] == df['공립'].max()]

,자치구,행정동,유해업소수,대형쇼핑몰수,도서관수,미술관 박물관 극장수,"의료시설수(병원,의원,보건소,보건지소)",공원 수,경로당 수,보육시설정원,...,평균면적(m^2),면적당 가격(만원/m^2),"주유소,가스충전소 수",0~9세,2030_상주인구수,23년 출생인구,2030대비 출생아수(%),공립,사립,공립+사립
53,은평구,진관동,0,3,3,2,1,10,28,1542,...,93,1044,5,3327,13584,147,1.08,5,4,9
113,서초구,양재1동,10,2,2,1,2,21,18,1028,...,86,1526,5,2732,12289,216,1.76,5,3,8
116,강남구,세곡동,0,1,1,1,3,20,21,1299,...,80,1759,10,3642,11923,268,2.25,5,1,6
119,송파구,위례동,0,0,1,0,1,4,11,1865,...,92,1744,2,6382,7293,335,4.59,5,0,5

In [145]:
# 유치원수(공립)가 0인곳
df[df['공립'] == df['공립'].max()]

,자치구,행정동,유해업소수,대형쇼핑몰수,도서관수,미술관 박물관 극장수,"의료시설수(병원,의원,보건소,보건지소)",공원 수,경로당 수,보육시설정원,...,평균면적(m^2),면적당 가격(만원/m^2),"주유소,가스충전소 수",0~9세,2030_상주인구수,23년 출생인구,2030대비 출생아수(%),공립,사립,공립+사립
53,은평구,진관동,0,3,3,2,1,10,28,1542,...,93,1044,5,3327,13584,147,1.08,5,4,9
113,서초구,양재1동,10,2,2,1,2,21,18,1028,...,86,1526,5,2732,12289,216,1.76,5,3,8
116,강남구,세곡동,0,1,1,1,3,20,21,1299,...,80,1759,10,3642,11923,268,2.25,5,1,6
119,송파구,위례동,0,0,1,0,1,4,11,1865,...,92,1744,2,6382,7293,335,4.59,5,0,5

# 출생아 비율 최대, 최소 행정동

In [146]:
select_col = ['자치구', '행정동', '유해업소수', '대형쇼핑몰수', '도서관수', '공원 수', '보육시설포화도', '횡단보도수', '면적당 가격(만원/m^2)', 
              '월평균소득금액', '0~9세', '2030_상주인구수', '23년 출생인구', '2030대비 출생아수(%)', '공립', '사립', '공립+사립']
df_birth_lg = df.groupby('자치구').apply(lambda x: x.nlargest(1, '2030대비 출생아수(%)')).reset_index(drop=True)
df_birth_lg = df_birth_lg[select_col]
df_birth_lg

,자치구,행정동,유해업소수,대형쇼핑몰수,도서관수,공원 수,보육시설포화도,횡단보도수,면적당 가격(만원/m^2),월평균소득금액,0~9세,2030_상주인구수,23년 출생인구,2030대비 출생아수(%),공립,사립,공립+사립
0,강남구,개포2동,0,1,1,5,0.53,101,2979,5147848,3631,5029,260,5.17,1,2,3
1,강동구,상일1동,1,0,1,6,0.96,110,1594,3674376,4517,2651,244,9.20,2,3,5
2,강북구,삼각산동,5,1,1,2,0.84,20,1041,3761878,2260,7491,130,1.74,0,1,1
3,강서구,염창동,8,2,1,4,0.77,29,1123,4149403,3436,12119,330,2.72,1,0,1
4,관악구,청림동,0,1,1,0,0.81,4,1106,3720047,1038,4509,109,2.42,1,2,3
5,광진구,자양3동,5,5,0,2,0.85,25,1562,4391943,1958,8290,141,1.70,1,3,4
6,구로구,항동,0,0,0,2,0.86,48,932,3077245,2441,3133,130,4.15,1,0,1
7,금천구,독산1동,35,8,0,8,0.81,83,906,3019139,2915,13828,319,2.31,2,2,4
8,노원구,상계8동,0,0,0,5,0.77,17,1090,3184253,1901,7437,294,3.95,2,3,5
9,도봉구,도봉2동,1,3,1,2,0.67,65,720,2837674,1415,6827,115,1.68,0,2,2
10,동대문구,답십리2동,4,0,0,3,0.87,45,1080,3052058,1581,7843,166,2.12,0,4,4
11,동작구,사당5동,1,0,1,6,0.96,12,1146,3085602,841,4210,97,2.30,2,1,3
12,마포구,아현동,15,1,0,1,0.78,44,1667,5251272,2932,7821,255,3.26,0,0,0
13,서대문구,홍제3동,0,1,1,3,0.79,20,904,2839603,1001,4128,100,2.42,1,1,2
14,서초구,서초2동,58,6,2,3,0.69,78,1787,5249873,2014,6353,180,2.83,0,1,1
15,성동구,옥수동,0,2,1,0,0.75,12,1741,4857859,2291,7752,243,3.13,1,3,4
16,성북구,길음2동,40,3,1,0,0.85,42,1115,3728596,2031,3804,139,3.65,1,1,2
17,송파구,위례동,0,0,1,4,0.91,141,1744,3893769,6382,7293,335,4.59,5,0,5
18,양천구,신월6동,0,0,0,2,0.85,12,945,2861120,1392,2731,101,3.70,0,1,1
19,영등포구,신길4동,1,0,0,1,0.86,16,1501,2730472,769,2593,83,3.20,1,2,3
20,용산구,한강로동,25,10,0,4,0.83,95,1817,4980382,1231,5836,161,2.76,0,0,0
21,은평구,수색동,8,0,0,0,0.88,40,1168,3258020,1747,2732,121,4.43,1,1,2
22,종로구,교남동,3,0,1,1,0.76,9,1895,4617088,741,2650,49,1.85,0,0,0
23,중구,중림동,20,1,2,1,0.86,43,1562,4451102,934,3150,89,2.83,0,1,1
24,중랑구,면목5동,6,1,0,2,0.85,26,1090,2246887,1313,3497,114,3.26,0,0,0

In [147]:
df_birth_lg.describe()

,유해업소수,대형쇼핑몰수,도서관수,공원 수,보육시설포화도,횡단보도수,면적당 가격(만원/m^2),월평균소득금액,0~9세,2030_상주인구수,23년 출생인구,2030대비 출생아수(%),공립,사립,공립+사립
count,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,2.500000e+01,25.000000,25.000000,25.00000,25.000000,25.000000,25.00000,25.000000
mean,9.440000,1.840000,0.640000,2.680000,0.814400,45.480000,1368.600000,3.762700e+06,2108.480000,5748.280000,172.20000,3.254800,0.920000,1.36000,2.280000
std,15.075035,2.687626,0.637704,2.135416,0.091564,36.622079,483.400197,8.959384e+05,1315.752608,2969.802554,86.03633,1.559621,1.115049,1.18603,1.671327
min,0.000000,0.000000,0.000000,0.000000,0.530000,4.000000,720.000000,2.246887e+06,741.000000,2593.000000,49.00000,1.680000,0.000000,0.00000,0.000000
25%,0.000000,0.000000,0.000000,1.000000,0.770000,17.000000,1080.000000,3.052058e+06,1231.000000,3150.000000,109.00000,2.310000,0.000000,0.00000,1.000000
50%,3.000000,1.000000,1.000000,2.000000,0.840000,40.000000,1146.000000,3.720047e+06,1901.000000,5029.000000,139.00000,2.830000,1.000000,1.00000,2.000000
75%,8.000000,2.000000,1.000000,4.000000,0.860000,65.000000,1667.000000,4.451102e+06,2441.000000,7491.000000,244.00000,3.700000,1.000000,2.00000,4.000000
max,58.000000,10.000000,2.000000,8.000000,0.960000,141.000000,2979.000000,5.251272e+06,6382.000000,13828.000000,335.00000,9.200000,5.000000,4.00000,5.000000

In [148]:
df_birth_sm = df.groupby('자치구').apply(lambda x: x.nsmallest(1, '2030대비 출생아수(%)')).reset_index(drop=True)
df_birth_sm = df_birth_sm[select_col]
df_birth_sm

,자치구,행정동,유해업소수,대형쇼핑몰수,도서관수,공원 수,보육시설포화도,횡단보도수,면적당 가격(만원/m^2),월평균소득금액,0~9세,2030_상주인구수,23년 출생인구,2030대비 출생아수(%),공립,사립,공립+사립
0,강남구,대치1동,2,8,0,4,0.67,46,2865,7464364,1530,4832,30,0.62,0,2,2
1,강동구,명일2동,2,5,0,5,0.85,54,1263,4543984,933,4391,38,0.87,0,4,4
2,강북구,송천동,12,1,1,2,0.69,47,951,2456559,739,7161,50,0.70,1,0,1
3,강서구,화곡본동,2,0,0,11,0.78,9,499,2415100,1420,12399,110,0.89,1,3,4
4,관악구,신림동,156,4,0,3,0.66,16,878,2465724,256,13004,31,0.24,0,0,0
5,광진구,화양동,11,2,0,4,0.68,32,1066,2490675,284,12826,38,0.30,1,1,2
6,구로구,구로2동,66,4,2,2,0.66,93,692,2466817,614,6320,41,0.65,0,1,1
7,금천구,시흥3동,2,0,0,5,0.57,25,489,2528235,404,2890,25,0.87,0,1,1
8,노원구,중계1동,0,2,0,3,0.79,33,1173,4657489,1645,5803,34,0.59,0,2,2
9,도봉구,창3동,0,0,0,2,0.68,20,674,2246742,505,3682,25,0.68,1,1,2
10,동대문구,이문1동,3,1,0,0,0.61,36,1095,2980528,569,7154,37,0.52,0,2,2
11,동작구,노량진2동,11,0,2,0,0.71,14,1762,2427127,198,4239,16,0.38,0,1,1
12,마포구,연남동,5,0,0,2,0.69,38,927,2995039,457,5925,36,0.61,0,2,2
13,서대문구,신촌동,77,4,0,4,0.63,54,954,3357577,466,9757,58,0.59,0,3,3
14,서초구,방배본동,10,1,0,1,0.78,46,1473,4909440,1212,5252,49,0.93,1,0,1
15,성동구,사근동,0,1,0,2,0.59,33,1147,3138503,325,5800,27,0.47,1,1,2
16,성북구,안암동,9,0,0,1,0.59,37,659,2917634,371,5136,25,0.49,0,1,1
17,송파구,오륜동,0,1,1,0,0.48,33,2223,6154886,1085,4371,36,0.82,1,2,3
18,양천구,신정2동,7,0,0,2,0.82,43,1354,4749748,994,4919,31,0.63,0,1,1
19,영등포구,대림2동,18,0,0,1,0.61,24,938,2708286,349,3465,34,0.98,2,0,2
20,용산구,보광동,4,0,0,0,0.54,19,2097,2556701,263,4348,28,0.64,0,1,1
21,은평구,갈현1동,33,2,0,3,0.38,26,776,2495345,474,6938,38,0.55,0,1,1
22,종로구,이화동,1,0,0,1,0.57,19,803,3052155,171,2941,9,0.31,0,0,0
23,중구,장충동,12,0,1,0,0.71,25,980,2923569,134,1876,13,0.69,1,0,1
24,중랑구,망우3동,3,0,0,1,0.70,19,678,2241100,559,4625,43,0.93,1,0,1

In [149]:
df_birth_sm.describe()

,유해업소수,대형쇼핑몰수,도서관수,공원 수,보육시설포화도,횡단보도수,면적당 가격(만원/m^2),월평균소득금액,0~9세,2030_상주인구수,23년 출생인구,2030대비 출생아수(%),공립,사립,공립+사립
count,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,2.500000e+01,25.000000,25.000000,25.000000,25.00000,25.000000,25.000000,25.000000
mean,17.840000,1.440000,0.280000,2.360000,0.657600,33.640000,1136.640000,3.333733e+06,638.280000,6002.160000,36.080000,0.63800,0.440000,1.200000,1.640000
std,34.709125,2.063169,0.613732,2.378375,0.106782,17.556765,571.021153,1.335382e+06,441.498162,3021.431803,19.008595,0.20662,0.583095,1.080123,1.036018
min,0.000000,0.000000,0.000000,0.000000,0.380000,9.000000,489.000000,2.241100e+06,134.000000,1876.000000,9.000000,0.24000,0.000000,0.000000,0.000000
25%,2.000000,0.000000,0.000000,1.000000,0.590000,20.000000,776.000000,2.466817e+06,325.000000,4348.000000,27.000000,0.52000,0.000000,0.000000,1.000000
50%,5.000000,1.000000,0.000000,2.000000,0.670000,33.000000,954.000000,2.917634e+06,474.000000,5136.000000,34.000000,0.63000,0.000000,1.000000,1.000000
75%,12.000000,2.000000,0.000000,3.000000,0.710000,43.000000,1263.000000,3.357577e+06,933.000000,6938.000000,38.000000,0.82000,1.000000,2.000000,2.000000
max,156.000000,8.000000,2.000000,11.000000,0.850000,93.000000,2865.000000,7.464364e+06,1645.000000,13004.000000,110.000000,0.98000,2.000000,4.000000,4.000000

## 출산율이 가장 높은 행정동

In [150]:
df_birth_lg.sort_values(by = '2030대비 출생아수(%)', ascending=False).iloc[:5]

,자치구,행정동,유해업소수,대형쇼핑몰수,도서관수,공원 수,보육시설포화도,횡단보도수,면적당 가격(만원/m^2),월평균소득금액,0~9세,2030_상주인구수,23년 출생인구,2030대비 출생아수(%),공립,사립,공립+사립
1,강동구,상일1동,1,0,1,6,0.96,110,1594,3674376,4517,2651,244,9.20,2,3,5
0,강남구,개포2동,0,1,1,5,0.53,101,2979,5147848,3631,5029,260,5.17,1,2,3
17,송파구,위례동,0,0,1,4,0.91,141,1744,3893769,6382,7293,335,4.59,5,0,5
21,은평구,수색동,8,0,0,0,0.88,40,1168,3258020,1747,2732,121,4.43,1,1,2
6,구로구,항동,0,0,0,2,0.86,48,932,3077245,2441,3133,130,4.15,1,0,1

In [151]:
df_birth_sm.sort_values(by = '2030대비 출생아수(%)').iloc[:5]

,자치구,행정동,유해업소수,대형쇼핑몰수,도서관수,공원 수,보육시설포화도,횡단보도수,면적당 가격(만원/m^2),월평균소득금액,0~9세,2030_상주인구수,23년 출생인구,2030대비 출생아수(%),공립,사립,공립+사립
4,관악구,신림동,156,4,0,3,0.66,16,878,2465724,256,13004,31,0.24,0,0,0
5,광진구,화양동,11,2,0,4,0.68,32,1066,2490675,284,12826,38,0.30,1,1,2
22,종로구,이화동,1,0,0,1,0.57,19,803,3052155,171,2941,9,0.31,0,0,0
11,동작구,노량진2동,11,0,2,0,0.71,14,1762,2427127,198,4239,16,0.38,0,1,1
15,성동구,사근동,0,1,0,2,0.59,33,1147,3138503,325,5800,27,0.47,1,1,2

In [152]:
df[df['자치구'] == '광진구'][select_col]

,자치구,행정동,유해업소수,대형쇼핑몰수,도서관수,공원 수,보육시설포화도,횡단보도수,면적당 가격(만원/m^2),월평균소득금액,0~9세,2030_상주인구수,23년 출생인구,2030대비 출생아수(%),공립,사립,공립+사립
37,광진구,자양3동,5,5,0,2,0.85,25,1562,4391943,1958,8290,141,1.70,1,3,4
38,광진구,구의2동,2,0,0,2,0.71,50,1027,2928061,1308,7401,102,1.38,0,3,3
164,광진구,화양동,11,2,0,4,0.68,32,1066,2490675,284,12826,38,0.30,1,1,2
165,광진구,군자동,11,1,1,2,0.67,63,1050,2626714,645,7647,71,0.93,0,3,3
167,광진구,중곡1동,11,0,0,1,0.77,43,758,2558983,565,5612,63,1.12,0,0,0
169,광진구,중곡2동,9,1,0,1,0.76,29,820,2576212,830,7524,82,1.09,0,1,1
171,광진구,중곡3동,7,0,1,1,0.72,47,904,2409648,605,5373,71,1.32,1,3,4
172,광진구,중곡4동,0,1,0,2,0.72,29,709,2542721,1015,8900,89,1.00,1,0,1
173,광진구,능동,6,0,0,0,0.81,18,561,2870468,432,4766,45,0.94,0,2,2
174,광진구,구의1동,8,0,0,1,0.72,18,1015,2706661,859,8632,92,1.07,0,2,2
175,광진구,구의3동,5,5,1,6,0.78,79,1265,4041811,1574,9293,120,1.29,0,2,2
177,광진구,광장동,9,2,1,2,0.76,89,1526,5314464,2415,8160,112,1.37,1,4,5
178,광진구,자양1동,25,1,0,3,0.68,28,1225,2756172,723,7832,73,0.93,1,2,3
179,광진구,자양2동,1,1,1,3,0.81,31,1317,3018829,1209,7805,94,1.20,2,2,4
181,광진구,자양4동,10,3,1,3,0.72,24,1455,2800761,786,5498,86,1.56,0,2,2

In [153]:
df.sort_values(by = '2030대비 출생아수(%)', ascending=False).iloc[:5][select_col]

,자치구,행정동,유해업소수,대형쇼핑몰수,도서관수,공원 수,보육시설포화도,횡단보도수,면적당 가격(만원/m^2),월평균소득금액,0~9세,2030_상주인구수,23년 출생인구,2030대비 출생아수(%),공립,사립,공립+사립
413,강동구,상일1동,1,0,1,6,0.96,110,1594,3674376,4517,2651,244,9.20,2,3,5
384,강남구,개포2동,0,1,1,5,0.53,101,2979,5147848,3631,5029,260,5.17,1,2,3
119,송파구,위례동,0,0,1,4,0.91,141,1744,3893769,6382,7293,335,4.59,5,0,5
52,은평구,수색동,8,0,0,0,0.88,40,1168,3258020,1747,2732,121,4.43,1,1,2
401,강동구,고덕2동,0,2,1,5,0.89,74,1814,2469588,2404,3769,157,4.17,1,1,2

In [154]:
df.sort_values(by = '2030대비 출생아수(%)').iloc[:5][select_col]

,자치구,행정동,유해업소수,대형쇼핑몰수,도서관수,공원 수,보육시설포화도,횡단보도수,면적당 가격(만원/m^2),월평균소득금액,0~9세,2030_상주인구수,23년 출생인구,2030대비 출생아수(%),공립,사립,공립+사립
344,관악구,신림동,156,4,0,3,0.66,16,878,2465724,256,13004,31,0.24,0,0,0
164,광진구,화양동,11,2,0,4,0.68,32,1066,2490675,284,12826,38,0.30,1,1,2
48,종로구,이화동,1,0,0,1,0.57,19,803,3052155,171,2941,9,0.31,0,0,0
99,동작구,노량진2동,11,0,2,0,0.71,14,1762,2427127,198,4239,16,0.38,0,1,1
50,종로구,창신2동,9,0,0,1,0.61,4,823,2123343,157,2197,10,0.46,0,0,0

In [155]:
df[df['행정동'].isin(['광장동', '자양3동'])][select_col]

,자치구,행정동,유해업소수,대형쇼핑몰수,도서관수,공원 수,보육시설포화도,횡단보도수,면적당 가격(만원/m^2),월평균소득금액,0~9세,2030_상주인구수,23년 출생인구,2030대비 출생아수(%),공립,사립,공립+사립
37,광진구,자양3동,5,5,0,2,0.85,25,1562,4391943,1958,8290,141,1.70,1,3,4
177,광진구,광장동,9,2,1,2,0.76,89,1526,5314464,2415,8160,112,1.37,1,4,5

In [156]:
df['보육시설포화도'].mean()

0.7438809523809524

In [157]:
df_knd = pd.read_csv('data/raw_data/가중치선정/완료/7_1_행정동별 학급당 유아수.csv')
df_knd.head()

,자치구,주소,"사립,공립",유치원명,학급수,인원수,학급당 인원수,lat,lng,ADM_NM
0,종로구,서울특별시 종로구 사직로8길 9,사립,세종유치원,3.0,45.0,15.0,126.970021,37.575414,사직동
1,종로구,서울특별시 종로구 홍지문2길 1,사립,상명사대부속유치원,6.0,146.0,24.3,126.956421,37.600829,부암동
2,종로구,서울특별시 종로구 자하문로 310,사립,세검정유치원,3.0,70.0,23.3,126.959641,37.600268,부암동
3,종로구,서울특별시 종로구 평창길 317,사립,하나유치원,6.0,98.0,16.3,126.977521,37.614375,평창동
4,용산구,서울특별시 용산구 한남대로 112,공립,서울한남초등학교병설유치원,3.0,34.0,11.3,127.004901,37.539403,한남동

In [160]:
df_knd = df_knd.groupby(['자치구', 'ADM_NM'])[['학급수', '인원수', '학급당 인원수']].mean().reset_index()
df_knd = df_knd.rename(columns={'ADM_NM':'행정동', '학급수':'평균학급수', '인원수':'평균유아수', '학급당 인원수':'평균 학급당 유아수'})
df_knd

     자치구   행정동     평균학급수  평균유아수  평균 학급당 유아수
0    강남구  개포1동  3.000000   17.0        5.70
1    강남구  개포2동  6.333333  108.0       17.60
2    강남구  개포3동  3.500000   78.0       21.00
3    강남구  개포4동  3.500000   48.5       13.45
4    강남구  논현1동  4.000000   49.0       12.20
..   ...   ...       ...    ...         ...
377  중랑구  상봉2동  6.000000  135.0       22.50
378  중랑구  신내1동  8.000000  143.5       18.40
379  중랑구  신내2동  5.600000  104.0       16.70
380  중랑구  중화1동  5.250000   92.0       16.45
381  중랑구  중화2동  4.000000   85.0       21.05

[382 rows x 5 columns]

In [161]:
df = pd.merge(df, df_knd, on = ['자치구','행정동'], how = 'left')

In [162]:
df = df.fillna(0)
df

,자치구,행정동,유해업소수,대형쇼핑몰수,도서관수,미술관 박물관 극장수,"의료시설수(병원,의원,보건소,보건지소)",공원 수,경로당 수,보육시설정원,...,0~9세,2030_상주인구수,23년 출생인구,2030대비 출생아수(%),공립,사립,공립+사립,평균학급수,평균유아수,평균 학급당 유아수
0,종로구,사직동,23,1,2,5,2,6,1,954,...,462,2476,25,1.01,0,2,2,3.0,45.0,15.0
1,종로구,부암동,2,0,0,6,0,0,1,150,...,381,2586,20,0.77,0,2,2,4.5,108.0,23.8
2,종로구,평창동,6,0,0,6,1,3,6,175,...,996,4740,66,1.39,0,1,1,6.0,98.0,16.3
3,용산구,한남동,21,0,0,2,1,1,10,364,...,1027,6364,114,1.79,1,0,1,3.0,34.0,11.3
4,성동구,왕십리2동,42,0,0,0,0,2,18,376,...,1053,5333,104,1.95,1,1,2,3.0,39.0,13.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
415,종로구,교남동,3,0,1,1,2,1,2,323,...,741,2650,49,1.85,0,0,0,0.0,0.0,0.0
416,종로구,종로1·2·3·4가동,289,11,0,13,0,4,18,741,...,170,1751,12,0.69,0,1,1,0.0,0.0,0.0
417,서초구,방배2동,1,0,0,0,1,6,5,694,...,934,6287,99,1.57,0,0,0,0.0,0.0,0.0
418,강북구,미아동,7,1,1,1,3,5,7,347,...,565,6640,48,0.72,0,0,0,0.0,0.0,0.0
419,강북구,인수동,29,0,0,0,4,2,8,367,...,1142,8045,57,0.71,1,2,3,4.5,60.5,13.1

In [163]:
df.sort_values(by = '2030대비 출생아수(%)', ascending=False).iloc[:5]

,자치구,행정동,유해업소수,대형쇼핑몰수,도서관수,미술관 박물관 극장수,"의료시설수(병원,의원,보건소,보건지소)",공원 수,경로당 수,보육시설정원,...,0~9세,2030_상주인구수,23년 출생인구,2030대비 출생아수(%),공립,사립,공립+사립,평균학급수,평균유아수,평균 학급당 유아수
413,강동구,상일1동,1,0,1,0,1,6,8,856,...,4517,2651,244,9.20,2,3,5,4.200000,86.6,20.48
384,강남구,개포2동,0,1,1,1,0,5,10,466,...,3631,5029,260,5.17,1,2,3,6.333333,108.0,17.60
119,송파구,위례동,0,0,1,0,1,4,11,1865,...,6382,7293,335,4.59,5,0,5,6.600000,103.4,15.14
52,은평구,수색동,8,0,0,0,0,0,10,170,...,1747,2732,121,4.43,1,1,2,4.500000,90.0,19.70
401,강동구,고덕2동,0,2,1,0,1,5,3,619,...,2404,3769,157,4.17,1,1,2,3.500000,65.0,18.90

In [164]:
df[df['자치구'] == '광진구'].sort_values(by = '2030대비 출생아수(%)', ascending = False).iloc[:5]

,자치구,행정동,유해업소수,대형쇼핑몰수,도서관수,미술관 박물관 극장수,"의료시설수(병원,의원,보건소,보건지소)",공원 수,경로당 수,보육시설정원,...,0~9세,2030_상주인구수,23년 출생인구,2030대비 출생아수(%),공립,사립,공립+사립,평균학급수,평균유아수,평균 학급당 유아수
37,광진구,자양3동,5,5,0,0,0,2,18,627,...,1958,8290,141,1.70,1,3,4,3.0,55.666667,18.533333
181,광진구,자양4동,10,3,1,0,3,3,8,350,...,786,5498,86,1.56,0,2,2,3.0,38.000000,12.700000
38,광진구,구의2동,2,0,0,0,1,2,3,577,...,1308,7401,102,1.38,0,3,3,3.0,50.000000,16.650000
177,광진구,광장동,9,2,1,0,0,2,20,491,...,2415,8160,112,1.37,1,4,5,4.2,88.600000,20.340000
171,광진구,중곡3동,7,0,1,0,1,1,2,686,...,605,5373,71,1.32,1,3,4,3.0,36.000000,12.000000

In [165]:
df[df['행정동'] == '중곡1동']

,자치구,행정동,유해업소수,대형쇼핑몰수,도서관수,미술관 박물관 극장수,"의료시설수(병원,의원,보건소,보건지소)",공원 수,경로당 수,보육시설정원,...,0~9세,2030_상주인구수,23년 출생인구,2030대비 출생아수(%),공립,사립,공립+사립,평균학급수,평균유아수,평균 학급당 유아수
167,광진구,중곡1동,11,0,0,0,0,1,2,163,...,565,5612,63,1.12,0,0,0,0.0,0.0,0.0

In [169]:
df.head()

,자치구,행정동,유해업소수,대형쇼핑몰수,도서관수,미술관 박물관 극장수,"의료시설수(병원,의원,보건소,보건지소)",공원 수,경로당 수,보육시설정원,...,0~9세,2030_상주인구수,23년 출생인구,2030대비 출생아수(%),공립,사립,공립+사립,평균학급수,평균유아수,평균 학급당 유아수
0,종로구,사직동,23,1,2,5,2,6,1,954,...,462,2476,25,1.01,0,2,2,3.0,45.0,15.0
1,종로구,부암동,2,0,0,6,0,0,1,150,...,381,2586,20,0.77,0,2,2,4.5,108.0,23.8
2,종로구,평창동,6,0,0,6,1,3,6,175,...,996,4740,66,1.39,0,1,1,6.0,98.0,16.3
3,용산구,한남동,21,0,0,2,1,1,10,364,...,1027,6364,114,1.79,1,0,1,3.0,34.0,11.3
4,성동구,왕십리2동,42,0,0,0,0,2,18,376,...,1053,5333,104,1.95,1,1,2,3.0,39.0,13.0

In [170]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 420 entries, 0 to 419
Data columns (total 29 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   자치구                    420 non-null    object
 1   행정동                    420 non-null    object
 2   유해업소수                  420 non-null    int64
 3   대형쇼핑몰수                 420 non-null    int64
 4   도서관수                   420 non-null    int64
 5   미술관 박물관 극장수            420 non-null    int64
 6   의료시설수(병원,의원,보건소,보건지소)  420 non-null    int64
 7   공원 수                   420 non-null    int64
 8   경로당 수                  420 non-null    int64
 9   보육시설정원                 420 non-null    int64
 10  보육시설현원                 420 non-null    int64
 11  보육시설포화도                420 non-null    float64
 12  횡단보도수                  420 non-null    int64
 13  육교수                    420 non-null    int64
 14  CCTV수                  420 non-null    int64
 15  월평균소득금액                420 non-null    int64
 16  평균면적(m^2)              420 non-null    int64
 17  면적당 가격(만원/m^2)         420 non-null    int64
 18  주유소,가스충전소 수            420 non-null    int64
 19  0~9세                   420 non-null    int64
 20  2030_상주인구수             420 non-null    int64
 21  23년 출생인구               420 non-null    int64
 22  2030대비 출생아수(%)         420 non-null    float64
 23  공립                     420 non-null    int64
 24  사립                     420 non-null    int64
 25  공립+사립                  420 non-null    int64
 26  평균학급수                  420 non-null    float64
 27  평균유아수                  420 non-null    float64
 28  평균 학급당 유아수             420 non-null    float64
dtypes: float64(5), int64(22), object(2)
memory usage: 98.4+ KB

In [178]:
df['평균학급수'] = round(df['평균학급수'], 1)
df['평균유아수'] = round(df['평균유아수'], 1)
df['평균 학급당 유아수'] = round(df['평균 학급당 유아수'], 1)

In [179]:
# df.to_csv('태블로 시각화.csv', index=False, encoding='ansi')

In [187]:
df_3born = pd.read_csv('data/raw_data/가중치선정/완료/9_1_추가_행정동별 3개년 출생인구수.csv')
df_3born

      행정동  21년 합계  22년 합계  23년 합계
0     사직동      38      27      25
1     삼청동       9       6       6
2     부암동      32      22      20
3     평창동      70      63      66
4     무악동      52      33      31
..    ...     ...     ...     ...
421  천호2동     229     179     177
422    길동     217     215     200
423   강일동     238     231     169
424  상일1동     239     218     244
425  상일2동      95      59      55

[426 rows x 4 columns]

In [190]:
df = pd.merge(df, df_3born, on = '행정동', how = 'left')
df

,자치구,행정동,유해업소수,대형쇼핑몰수,도서관수,미술관 박물관 극장수,"의료시설수(병원,의원,보건소,보건지소)",공원 수,경로당 수,보육시설정원,...,2030대비 출생아수(%),공립,사립,공립+사립,평균학급수,평균유아수,평균 학급당 유아수,21년 합계,22년 합계,23년 합계
0,종로구,사직동,23,1,2,5,2,6,1,954,...,1.01,0,2,2,3.0,45.0,15.0,38.0,27.0,25.0
1,종로구,부암동,2,0,0,6,0,0,1,150,...,0.77,0,2,2,4.5,108.0,23.8,32.0,22.0,20.0
2,종로구,평창동,6,0,0,6,1,3,6,175,...,1.39,0,1,1,6.0,98.0,16.3,70.0,63.0,66.0
3,용산구,한남동,21,0,0,2,1,1,10,364,...,1.79,1,0,1,3.0,34.0,11.3,121.0,123.0,114.0
4,성동구,왕십리2동,42,0,0,0,0,2,18,376,...,1.95,1,1,2,3.0,39.0,13.0,123.0,118.0,104.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
416,종로구,교남동,3,0,1,1,2,1,2,323,...,1.85,0,0,0,0.0,0.0,0.0,79.0,50.0,49.0
417,종로구,종로1·2·3·4가동,289,11,0,13,0,4,18,741,...,0.69,0,1,1,0.0,0.0,0.0,15.0,18.0,12.0
418,서초구,방배2동,1,0,0,0,1,6,5,694,...,1.57,0,0,0,0.0,0.0,0.0,109.0,95.0,99.0
419,강북구,미아동,7,1,1,1,3,5,7,347,...,0.72,0,0,0,0.0,0.0,0.0,44.0,44.0,48.0
420,강북구,인수동,29,0,0,0,4,2,8,367,...,0.71,1,2,3,4.5,60.5,13.1,93.0,77.0,57.0

In [191]:
df.columns

Index(['자치구', '행정동', '유해업소수', '대형쇼핑몰수', '도서관수', '미술관 박물관 극장수',
       '의료시설수(병원,의원,보건소,보건지소)', '공원 수', '경로당 수', '보육시설정원', '보육시설현원', '보육시설포화도',
       '횡단보도수', '육교수', 'CCTV수', '월평균소득금액', '평균면적(m^2)', '면적당 가격(만원/m^2)',
       '주유소,가스충전소 수', '0~9세', '2030_상주인구수', '23년 출생인구', '2030대비 출생아수(%)', '공립',
       '사립', '공립+사립', '평균학급수', '평균유아수', '평균 학급당 유아수', '21년 합계', '22년 합계',
       '23년 합계'],
      dtype='object')