In [1]:
import pandas as pd

## 국공립 어린이집

In [2]:
df1 = pd.read_csv('서울시 어린이집 정보(표준 데이터).csv')
df1.head()

,시군구명,어린이집코드,어린이집명,어린이집유형,운영현황,우편번호,상세주소,전화번호,팩스번호,홈페이지주소,...,교직원현황-보육교사,교직원현황-특수교사,교직원현황-치료교사,교직원현황-영양사,교직원현황-간호사,교직원현황-간호조무사,교직원현황-조리원,교직원현황-사무직원,교직원현황-총계,데이터수집일
0,종로구,11110000180,로카키즈어린이집,직장,정상,3184.0,서울특별시 종로구 새문안로2길 10 1층,02-739-8042,NaN,NaN,...,4.0,0.0,거짓,0.0,0.0,0.0,1.0,0.0,6.0,2022/10/26 22:01:35
1,종로구,11110000166,푸르지오어린이집,직장,폐지,3182.0,서울특별시 종로구 신문로1가 새문안로 75,02-2288-2761,02-2288-2761,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022/10/26 22:01:35
2,종로구,11110000162,아이누리 어린이집,직장,정상,3174.0,서울특별시 종로구 사직로8길 20 파크팰리스 제1층 제101호,02-6959-7695,02-6959-7696,NaN,...,10.0,0.0,거짓,0.0,0.0,0.0,2.0,0.0,13.0,2022/10/26 22:01:35
3,종로구,11110000158,현대해상 온마음어린이집,직장,정상,3176.0,서울특별시 종로구 신문로2가 경희궁1길 9,02-725-5355,02-725-5356,NaN,...,12.0,0.0,거짓,0.0,0.0,0.0,2.0,0.0,16.0,2022/10/26 22:01:35
4,종로구,11110000157,LG광화문어린이집,직장,정상,3184.0,서울특별시 종로구 신문로2가 새문안로 58,070-4065-0286,070-4065-0287,NaN,...,9.0,0.0,거짓,0.0,0.0,0.0,1.0,0.0,11.0,2022/10/26 22:01:35

In [3]:
df1.columns

Index(['시군구명', '어린이집코드', '어린이집명', '어린이집유형', '운영현황', '우편번호', '상세주소', '전화번호',
       '팩스번호', '홈페이지주소', '보육실수', '보육실 면적', '놀이터수', 'CCTV총설치수', '보육교직원수', '정원',
       '현원', '시설 위도(좌표값)', '시설 경도(좌표값)', '통학차량운영여부', '인가일자', '휴지시작일자',
       '휴지종료일자', '폐지일자', '데이터기준일자', '제공서비스', '반수-만0세', '반수-만1세', '반수-만2세',
       '반수-만3세', '반수-만4세', '반수-만5세', '반수-영아혼합(만0~2세)', '반수-유아혼합(만3~5세)',
       '반수-특수장애', '반수-총계', '아동수-만0세', '아동수-만1세', '아동수-만2세', '아동수-만3세',
       '아동수-만4세', '아동수-만5세', '아동수-영아혼합(만0~2세)', '아동수-유아혼합(만3~5세)', '아동수-특수장애',
       '아동수-총계', '근속년수-1년미만', '근속년수-1년이상~2년미만', '근속년수-2년이상~4년미만',
       '근속년수-4년이상~6년미만', '근속년수-6년이상', '교직원현황-원장', '교직원현황-보육교사', '교직원현황-특수교사',
       '교직원현황-치료교사', '교직원현황-영양사', '교직원현황-간호사', '교직원현황-간호조무사', '교직원현황-조리원',
       '교직원현황-사무직원', '교직원현황-총계', '데이터수집일'],
      dtype='object')

In [4]:
df1 = df1[['시군구명', '어린이집유형', '어린이집명', '정원', '운영현황']]
df1.head()

  시군구명 어린이집유형         어린이집명  정원 운영현황
0  종로구     직장      로카키즈어린이집  25   정상
1  종로구     직장      푸르지오어린이집  49   폐지
2  종로구     직장     아이누리 어린이집  49   정상
3  종로구     직장  현대해상 온마음어린이집  49   정상
4  종로구     직장     LG광화문어린이집  40   정상

In [5]:
df1 = df1[(df1['운영현황'] == '정상') | (df1['운영현황'] == '재개')]
df1

      시군구명 어린이집유형           어린이집명  정원 운영현황
0      종로구     직장        로카키즈어린이집  25   정상
2      종로구     직장       아이누리 어린이집  49   정상
3      종로구     직장    현대해상 온마음어린이집  49   정상
4      종로구     직장       LG광화문어린이집  40   정상
5      종로구     직장  KIM&CHANG 어린이집  49   정상
...    ...    ...             ...  ..  ...
9201  동대문구    국공립   꿈자람공동육아방 배봉산점   0   정상
9203  동대문구    국공립  꿈자람공동육아방 장안1호점   0   정상
9204  동대문구    국공립    꿈자람공동육아방 용신점   0   정상
9205  동대문구    국공립  꿈자람공동육아방 장안2호점   0   정상
9211  동대문구    국공립    육아종합지원센터 제기점   0   정상

[4823 rows x 5 columns]

In [6]:
df_kdg = df1[df1['어린이집유형'] == '국공립']

In [7]:
df_kdg

      시군구명 어린이집유형           어린이집명   정원 운영현황
10     종로구    국공립          사직어린이집  101   정상
11     종로구    국공립          삼청어린이집   32   정상
14     종로구    국공립        엔젤키즈어린이집   35   정상
15     종로구    국공립          부암어린이집   92   정상
16     종로구    국공립       종로생명숲어린이집  123   정상
...    ...    ...             ...  ...  ...
9201  동대문구    국공립   꿈자람공동육아방 배봉산점    0   정상
9203  동대문구    국공립  꿈자람공동육아방 장안1호점    0   정상
9204  동대문구    국공립    꿈자람공동육아방 용신점    0   정상
9205  동대문구    국공립  꿈자람공동육아방 장안2호점    0   정상
9211  동대문구    국공립    육아종합지원센터 제기점    0   정상

[1924 rows x 5 columns]

In [8]:
df_kdg[df_kdg['정원'] == 0]

      시군구명 어린이집유형                       어린이집명  정원 운영현황
2736   동작구    국공립                 구립신대방누리어린이집   0   정상
8626   광진구    국공립  광진구육아종합지원센터(꾸미팡팡공동육아방 3호점)   0   정상
8627   중랑구    국공립                     중랑실내놀이터   0   정상
8628   양천구    국공립             목동깨비장난감도서관공동육아방   0   정상
8629   중랑구    국공립                   망우자람공동육아방   0   정상
...    ...    ...                         ...  ..  ...
9201  동대문구    국공립               꿈자람공동육아방 배봉산점   0   정상
9203  동대문구    국공립              꿈자람공동육아방 장안1호점   0   정상
9204  동대문구    국공립                꿈자람공동육아방 용신점   0   정상
9205  동대문구    국공립              꿈자람공동육아방 장안2호점   0   정상
9211  동대문구    국공립                육아종합지원센터 제기점   0   정상

[101 rows x 5 columns]

- 정원이 0인 곳이 101곳.. -> 이후 정원이 꼭 필요하면 자치구별 평균값으로 채우기

In [9]:
df_kdg_size = df_kdg[['시군구명']].groupby('시군구명').size().to_frame().reset_index()
df_kdg_size

    시군구명    0
0    강남구   69
1    강동구   87
2    강북구   60
3    강서구   92
4    관악구   86
5    광진구   58
6    구로구  100
7    금천구   59
8    노원구  107
9    도봉구   66
10  동대문구   85
11   동작구   82
12   마포구   88
13  서대문구   63
14   서초구   90
15   성동구   81
16   성북구   88
17   송파구  110
18   양천구   95
19  영등포구   90
20   용산구   38
21   은평구   90
22   종로구   33
23    중구   27
24   중랑구   80

In [10]:
df_kdg_size.columns = ['자치구', '공립어린이집수']
df_kdg_size

     자치구  공립어린이집수
0    강남구       69
1    강동구       87
2    강북구       60
3    강서구       92
4    관악구       86
5    광진구       58
6    구로구      100
7    금천구       59
8    노원구      107
9    도봉구       66
10  동대문구       85
11   동작구       82
12   마포구       88
13  서대문구       63
14   서초구       90
15   성동구       81
16   성북구       88
17   송파구      110
18   양천구       95
19  영등포구       90
20   용산구       38
21   은평구       90
22   종로구       33
23    중구       27
24   중랑구       80

## 공립 유치원

In [11]:
df2 = pd.read_csv('서울시 유치원 일반현황(행정동추가).csv')
df2.head()

,교육지원청명,자치구,유치원명,공립/사립,유형,주소,field_7,Latitude,Longitude,운영시간,...,만4세유아수,만5세유아수,혼합유아수,특수유아수,보직교사수,일반교사수,특수교사수,기간제교사수,총 교사수,ADM_NM
0,중부교육지원청,종로구,배화여자대학교 부속 배화유치원(종로구),사립,법인,서울특별시 종로구 필운대로1길 34,NaN,37.578332,126.966856,09시00분~17시00분,...,23,29,0,0,0,3,0,1,4,사직동
1,중부교육지원청,종로구,세종유치원(종로구),사립,법인,서울특별시 종로구 사직로8길 9,NaN,37.575458,126.969964,08시00분~18시30분,...,11,20,0,0,0,5,0,0,5,사직동
2,중부교육지원청,종로구,상명사대부속유치원(종로구),사립,법인,서울특별시 종로구 홍지문2길 1,NaN,37.600811,126.956353,08시40분~18시00분,...,51,53,0,0,0,5,0,7,12,부암동
3,중부교육지원청,종로구,세검정유치원(종로구),사립,법인,서울특별시 종로구 자하문로 310,NaN,37.600102,126.959047,09시00분~18시30분,...,20,28,0,0,0,5,0,0,5,부암동
4,중부교육지원청,종로구,하나유치원(종로구),사립,사인,서울특별시 종로구 평창길 317,NaN,37.614355,126.977459,09시00분~17시00분,...,30,44,0,0,0,7,0,0,7,평창동

In [12]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 939 entries, 0 to 938
Data columns (total 26 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   교육지원청명     939 non-null    object
 1   자치구        939 non-null    object
 2   유치원명       939 non-null    object
 3   공립/사립      939 non-null    object
 4   유형         939 non-null    object
 5   주소         939 non-null    object
 6   field_7    0 non-null      float64
 7   Latitude   939 non-null    float64
 8   Longitude  939 non-null    float64
 9   운영시간       939 non-null    object
 10  만3세학급수     939 non-null    int64
 11  만4세학급수     939 non-null    int64
 12  만5세학급수     939 non-null    int64
 13  혼합학급수      939 non-null    int64
 14  특수학급수      939 non-null    int64
 15  만3세유아수     939 non-null    int64
 16  만4세유아수     939 non-null    int64
 17  만5세유아수     939 non-null    int64
 18  혼합유아수      939 non-null    int64
 19  특수유아수      939 non-null    int64
 20  보직교사수      939 non-null    int64
 21  일반교사수      939 non-null    int64
 22  특수교사수      939 non-null    int64
 23  기간제교사수     939 non-null    int64
 24  총 교사수      939 non-null    int64
 25  ADM_NM     939 non-null    object
dtypes: float64(3), int64(15), object(8)
memory usage: 190.9+ KB

In [13]:
df2.columns

Index(['교육지원청명', '자치구', '유치원명', '공립/사립', '유형', '주소', 'field_7', 'Latitude',
       'Longitude', '운영시간', '만3세학급수', '만4세학급수', '만5세학급수', '혼합학급수', '특수학급수',
       '만3세유아수', '만4세유아수', '만5세유아수', '혼합유아수', '특수유아수', '보직교사수', '일반교사수',
       '특수교사수', '기간제교사수', '총 교사수', 'ADM_NM'],
      dtype='object')

In [14]:
df2 = df2[['자치구', '유치원명', '공립/사립']]
df2.head()

   자치구                   유치원명 공립/사립
0  종로구  배화여자대학교 부속 배화유치원(종로구)    사립
1  종로구             세종유치원(종로구)    사립
2  종로구         상명사대부속유치원(종로구)    사립
3  종로구            세검정유치원(종로구)    사립
4  종로구             하나유치원(종로구)    사립

In [15]:
df_kdg2 = df2[df2['공립/사립'] == '공립']
df_kdg2

     자치구                유치원명 공립/사립
5    용산구  서울한남초등학교병설유치원(용산구)    공립
7    성동구  서울무학초등학교병설유치원(성동구)    공립
8    성동구  서울마장초등학교병설유치원(성동구)    공립
11   성동구  서울동명초등학교병설유치원(성동구)    공립
16   성동구  서울옥정초등학교병설유치원(성동구)    공립
..   ...                 ...   ...
927  강동구  서울강솔초등학교병설유치원(강동구)    공립
930  강동구  서울고현초등학교병설유치원(강동구)    공립
932  강동구  서울고일초등학교병설유치원(강동구)    공립
934  종로구  서울재동초등학교병설유치원(종로구)    공립
938  강북구        서울우이유치원(강북구)    공립

[301 rows x 3 columns]

In [16]:
df_kdg2_size = df_kdg2[['자치구']].groupby('자치구').size().to_frame().reset_index()
df_kdg2_size

     자치구   0
0    강남구  18
1    강동구  12
2    강북구   7
3    강서구  18
4    관악구  16
5    광진구   8
6    구로구  14
7    금천구   7
8    노원구  20
9    도봉구  11
10  동대문구   9
11   동작구  10
12   마포구  13
13  서대문구   5
14   서초구  11
15   성동구  14
16   성북구  16
17   송파구  20
18   양천구  14
19  영등포구  12
20   용산구   5
21   은평구  18
22   종로구   5
23    중구   4
24   중랑구  14

In [17]:
df_kdg2_size.columns = ['자치구', '공립유치원수']
df_kdg2_size

     자치구  공립유치원수
0    강남구      18
1    강동구      12
2    강북구       7
3    강서구      18
4    관악구      16
5    광진구       8
6    구로구      14
7    금천구       7
8    노원구      20
9    도봉구      11
10  동대문구       9
11   동작구      10
12   마포구      13
13  서대문구       5
14   서초구      11
15   성동구      14
16   성북구      16
17   송파구      20
18   양천구      14
19  영등포구      12
20   용산구       5
21   은평구      18
22   종로구       5
23    중구       4
24   중랑구      14

## 자치구별 인구수

In [18]:
df_pop = pd.read_csv('주민등록인구(연령별_동별)_20240401162122.csv')
df_pop.head()

,동별(1),항목,2023 4/4,2023 4/4.1,2023 4/4.2,2023 4/4.3,2023 4/4.4,2023 4/4.5,2023 4/4.6,2023 4/4.7,...,2023 4/4.10,2023 4/4.11,2023 4/4.12,2023 4/4.13,2023 4/4.14,2023 4/4.15,2023 4/4.16,2023 4/4.17,2023 4/4.18,2023 4/4.19
0,동별(1),항목,0~4세,5~9세,10~14세,15~19세,20~24세,25~29세,30~34세,35~39세,...,50~54세,55~59세,60~64세,65~69세,70~74세,75~79세,80~84세,85~89세,90~94세,95~99세
1,종로구,한국인,2342,3577,4540,5199,9113,12383,10882,8440,...,12414,11501,11332,9357,6218,5285,4328,2316,760,201
2,중구,한국인,2687,2943,2898,3258,6727,10810,11558,9306,...,9725,9343,9763,8570,5766,4725,3669,1892,704,172
3,용산구,한국인,5068,6021,6394,7226,11634,18469,20723,16687,...,18203,16114,16085,13241,8650,6972,5633,3272,1150,265
4,성동구,한국인,7856,9037,8340,9511,17016,23963,23946,21718,...,23174,21275,21339,17239,11350,9057,6892,3425,1036,217

In [19]:
df_pop = df_pop[['동별(1)', '2023 4/4']].iloc[1:]
df_pop

   동별(1) 2023 4/4
1    종로구     2342
2     중구     2687
3    용산구     5068
4    성동구     7856
5    광진구     6290
6   동대문구     7940
7    중랑구     8519
8    성북구     9796
9    강북구     4546
10   도봉구     5568
11   노원구    10622
12   은평구    10135
13  서대문구     7339
14   마포구     8692
15   양천구     8991
16   강서구    13345
17   구로구    10031
18   금천구     4480
19  영등포구    10377
20   동작구     8463
21   관악구     7080
22   서초구    10409
23   강남구    12030
24   송파구    17488
25   강동구    12920

In [20]:
df_pop.columns = ['자치구', '0~4세 유아']
df_pop

     자치구 0~4세 유아
1    종로구    2342
2     중구    2687
3    용산구    5068
4    성동구    7856
5    광진구    6290
6   동대문구    7940
7    중랑구    8519
8    성북구    9796
9    강북구    4546
10   도봉구    5568
11   노원구   10622
12   은평구   10135
13  서대문구    7339
14   마포구    8692
15   양천구    8991
16   강서구   13345
17   구로구   10031
18   금천구    4480
19  영등포구   10377
20   동작구    8463
21   관악구    7080
22   서초구   10409
23   강남구   12030
24   송파구   17488
25   강동구   12920

## 합치기

In [21]:
df_new = pd.merge(pd.merge(df_kdg_size, df_kdg2_size, on = '자치구'), df_pop, on = '자치구')
df_new

     자치구  공립어린이집수  공립유치원수 0~4세 유아
0    강남구       69      18   12030
1    강동구       87      12   12920
2    강북구       60       7    4546
3    강서구       92      18   13345
4    관악구       86      16    7080
5    광진구       58       8    6290
6    구로구      100      14   10031
7    금천구       59       7    4480
8    노원구      107      20   10622
9    도봉구       66      11    5568
10  동대문구       85       9    7940
11   동작구       82      10    8463
12   마포구       88      13    8692
13  서대문구       63       5    7339
14   서초구       90      11   10409
15   성동구       81      14    7856
16   성북구       88      16    9796
17   송파구      110      20   17488
18   양천구       95      14    8991
19  영등포구       90      12   10377
20   용산구       38       5    5068
21   은평구       90      18   10135
22   종로구       33       5    2342
23    중구       27       4    2687
24   중랑구       80      14    8519

In [22]:
# df_new.to_csv('태블로 발표 시각화.csv', index=False)

## 사립 추가, 출생인구 추가

In [23]:
df_kdg_private = df1[df1['어린이집유형'] == '민간']
df_kdg_private

     시군구명 어린이집유형         어린이집명  정원 운영현황
9     종로구     민간      종교교회어린이집  41   정상
17    종로구     민간        구기어린이집  33   정상
32    용산구     민간       하늘빛어린이집  49   정상
53    성동구     민간     한양키움 어린이집  45   정상
62    성동구     민간        예지어린이집  49   정상
...   ...    ...           ...  ..  ...
8560  종로구     민간  노틀담방과후교실어린이집  30   정상
8562  종로구     민간        안동어린이집  50   정상
8597  강북구     민간        해원어린이집  90   재개
8603  강북구     민간        한올어린이집  39   정상
8617  강북구     민간        꽃길어린이집  49   정상

[1044 rows x 5 columns]

In [24]:
df_kdg_private_size = df_kdg_private.groupby('시군구명').size().to_frame().reset_index()
df_kdg_private_size.columns = ['자치구', '사립어린이집수']
df_kdg_private_size

     자치구  사립어린이집수
0    강남구       45
1    강동구       65
2    강북구       37
3    강서구       76
4    관악구       45
5    광진구       52
6    구로구       58
7    금천구       35
8    노원구       38
9    도봉구       45
10  동대문구       43
11   동작구       37
12   마포구       27
13  서대문구       31
14   서초구       22
15   성동구       17
16   성북구       41
17   송파구       85
18   양천구       37
19  영등포구       41
20   용산구       17
21   은평구       79
22   종로구        5
23    중구        3
24   중랑구       63

In [25]:
df_kdg2_private = df2[df2['공립/사립'] == '사립']
df_kdg2_private

     자치구                   유치원명 공립/사립
0    종로구  배화여자대학교 부속 배화유치원(종로구)    사립
1    종로구             세종유치원(종로구)    사립
2    종로구         상명사대부속유치원(종로구)    사립
3    종로구            세검정유치원(종로구)    사립
4    종로구             하나유치원(종로구)    사립
..   ...                    ...   ...
931  강동구             선아유치원(강동구)    사립
933  강동구           강동유정유치원(강동구)    사립
935  종로구             운현유치원(종로구)    사립
936  강북구            길물빛유치원(강북구)    사립
937  강북구             화계유치원(강북구)    사립

[638 rows x 3 columns]

In [26]:
df_kdg2_private_size = df_kdg2_private.groupby('자치구').size().to_frame().reset_index()
df_kdg2_private_size.columns = ['자치구', '사립유치원수']
df_kdg2_private_size

     자치구  사립유치원수
0    강남구      25
1    강동구      26
2    강북구      17
3    강서구      43
4    관악구      23
5    광진구      30
6    구로구      22
7    금천구      12
8    노원구      58
9    도봉구      25
10  동대문구      25
11   동작구      28
12   마포구      17
13  서대문구      18
14   서초구      19
15   성동구      18
16   성북구      37
17   송파구      40
18   양천구      34
19  영등포구      30
20   용산구      13
21   은평구      32
22   종로구      12
23    중구      10
24   중랑구      24

In [27]:
df3 = pd.read_csv('출생·사망(신고기준)(동별)_20240421164403.csv')
df3

,동별(1),동별(2),동별(3),2023. 01,2023. 02,2023. 03,2023. 04,2023. 05,2023. 06,2023. 07,2023. 08,2023. 09,2023. 10,2023. 11,2023. 12
0,동별(1),동별(2),동별(3),출생자수,출생자수,출생자수,출생자수,출생자수,출생자수,출생자수,출생자수,출생자수,출생자수,출생자수,출생자수
1,동별(1),동별(2),동별(3),합계,합계,합계,합계,합계,합계,합계,합계,합계,합계,합계,합계
2,합계,소계,소계,3765,3486,3753,3070,3520,3396,3325,3359,3187,3655,3193,2945
3,합계,종로구,소계,46,36,30,23,28,36,33,39,41,33,31,31
4,합계,종로구,사직동,4,3,2,2,-,2,3,-,3,2,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
449,합계,강동구,천호2동,18,14,19,12,14,8,20,17,8,20,17,10
450,합계,강동구,길동,13,24,31,17,12,15,16,16,11,17,16,12
451,합계,강동구,강일동,17,15,20,13,13,11,10,12,12,17,18,11
452,합계,강동구,상일1동,30,19,24,25,19,20,21,14,11,27,15,19
453,합계,강동구,상일2동,6,6,3,3,8,6,4,4,2,5,4,4

In [28]:
df3.drop(columns = '동별(1)', inplace = True)
df3

,동별(2),동별(3),2023. 01,2023. 02,2023. 03,2023. 04,2023. 05,2023. 06,2023. 07,2023. 08,2023. 09,2023. 10,2023. 11,2023. 12
0,동별(2),동별(3),출생자수,출생자수,출생자수,출생자수,출생자수,출생자수,출생자수,출생자수,출생자수,출생자수,출생자수,출생자수
1,동별(2),동별(3),합계,합계,합계,합계,합계,합계,합계,합계,합계,합계,합계,합계
2,소계,소계,3765,3486,3753,3070,3520,3396,3325,3359,3187,3655,3193,2945
3,종로구,소계,46,36,30,23,28,36,33,39,41,33,31,31
4,종로구,사직동,4,3,2,2,-,2,3,-,3,2,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
449,강동구,천호2동,18,14,19,12,14,8,20,17,8,20,17,10
450,강동구,길동,13,24,31,17,12,15,16,16,11,17,16,12
451,강동구,강일동,17,15,20,13,13,11,10,12,12,17,18,11
452,강동구,상일1동,30,19,24,25,19,20,21,14,11,27,15,19
453,강동구,상일2동,6,6,3,3,8,6,4,4,2,5,4,4

In [29]:
df3 = df3[df3['동별(3)'] == '소계'].iloc[1:]
df3.reset_index(drop = True, inplace = True)
df3

,동별(2),동별(3),2023. 01,2023. 02,2023. 03,2023. 04,2023. 05,2023. 06,2023. 07,2023. 08,2023. 09,2023. 10,2023. 11,2023. 12
0,종로구,소계,46,36,30,23,28,36,33,39,41,33,31,31
1,중구,소계,47,38,51,50,50,48,47,37,42,51,40,49
2,용산구,소계,119,106,80,84,69,89,82,83,96,110,68,61
3,성동구,소계,132,135,159,106,108,118,129,165,106,153,105,105
4,광진구,소계,108,101,118,104,114,119,99,112,102,109,107,86
5,동대문구,소계,129,115,115,112,120,133,109,94,117,125,120,104
6,중랑구,소계,168,155,178,142,150,156,138,147,155,150,145,127
7,성북구,소계,175,144,172,113,171,122,137,139,126,183,145,131
8,강북구,소계,88,73,88,74,68,81,79,73,59,76,50,54
9,도봉구,소계,97,88,94,83,84,73,90,79,86,96,74,78
10,노원구,소계,204,171,195,194,173,158,181,170,182,179,162,148
11,은평구,소계,173,148,152,115,160,152,159,135,142,159,132,150
12,서대문구,소계,120,118,119,90,126,112,114,123,97,115,99,99
13,마포구,소계,150,143,168,107,136,123,135,138,131,143,130,124
14,양천구,소계,126,116,138,109,133,143,129,133,138,146,120,103
15,강서구,소계,248,270,224,202,216,235,221,224,197,240,229,178
16,구로구,소계,190,153,193,146,180,159,178,156,165,180,164,150
17,금천구,소계,88,87,96,68,84,93,79,78,79,73,79,62
18,영등포구,소계,203,202,211,172,213,189,180,182,159,187,171,147
19,동작구,소계,141,152,149,132,149,148,143,155,148,141,144,134
20,관악구,소계,129,139,136,110,134,129,121,113,107,111,133,127
21,서초구,소계,186,137,159,140,165,149,131,135,142,164,140,149
22,강남구,소계,192,183,194,167,228,236,192,206,170,231,176,175
23,송파구,소계,278,275,316,253,291,225,234,263,227,281,258,213
24,강동구,소계,228,201,218,174,170,170,185,180,173,219,171,160

In [30]:
df3.columns

Index(['동별(2)', '동별(3)', '2023. 01', '2023. 02', '2023. 03', '2023. 04',
       '2023. 05', '2023. 06', '2023. 07', '2023. 08', '2023. 09', '2023. 10',
       '2023. 11', '2023. 12'],
      dtype='object')

In [31]:
col_lst = ['2023. 01', '2023. 02', '2023. 03', '2023. 04', '2023. 05', '2023. 06', 
           '2023. 07', '2023. 08', '2023. 09', '2023. 10', '2023. 11', '2023. 12']

for col in col_lst:
    df3[col] = df3[col].astype('int')

df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   동별(2)     25 non-null     object
 1   동별(3)     25 non-null     object
 2   2023. 01  25 non-null     int32
 3   2023. 02  25 non-null     int32
 4   2023. 03  25 non-null     int32
 5   2023. 04  25 non-null     int32
 6   2023. 05  25 non-null     int32
 7   2023. 06  25 non-null     int32
 8   2023. 07  25 non-null     int32
 9   2023. 08  25 non-null     int32
 10  2023. 09  25 non-null     int32
 11  2023. 10  25 non-null     int32
 12  2023. 11  25 non-null     int32
 13  2023. 12  25 non-null     int32
dtypes: int32(12), object(2)
memory usage: 1.7+ KB

In [32]:
df3['23년 출생인구'] = df3.sum(axis=1)
df3

C:\Users\yju12\AppData\Local\Temp\ipykernel_1620\3555454767.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df3['23년 출생인구'] = df3.sum(axis=1)

,동별(2),동별(3),2023. 01,2023. 02,2023. 03,2023. 04,2023. 05,2023. 06,2023. 07,2023. 08,2023. 09,2023. 10,2023. 11,2023. 12,23년 출생인구
0,종로구,소계,46,36,30,23,28,36,33,39,41,33,31,31,407
1,중구,소계,47,38,51,50,50,48,47,37,42,51,40,49,550
2,용산구,소계,119,106,80,84,69,89,82,83,96,110,68,61,1047
3,성동구,소계,132,135,159,106,108,118,129,165,106,153,105,105,1521
4,광진구,소계,108,101,118,104,114,119,99,112,102,109,107,86,1279
5,동대문구,소계,129,115,115,112,120,133,109,94,117,125,120,104,1393
6,중랑구,소계,168,155,178,142,150,156,138,147,155,150,145,127,1811
7,성북구,소계,175,144,172,113,171,122,137,139,126,183,145,131,1758
8,강북구,소계,88,73,88,74,68,81,79,73,59,76,50,54,863
9,도봉구,소계,97,88,94,83,84,73,90,79,86,96,74,78,1022
10,노원구,소계,204,171,195,194,173,158,181,170,182,179,162,148,2117
11,은평구,소계,173,148,152,115,160,152,159,135,142,159,132,150,1777
12,서대문구,소계,120,118,119,90,126,112,114,123,97,115,99,99,1332
13,마포구,소계,150,143,168,107,136,123,135,138,131,143,130,124,1628
14,양천구,소계,126,116,138,109,133,143,129,133,138,146,120,103,1534
15,강서구,소계,248,270,224,202,216,235,221,224,197,240,229,178,2684
16,구로구,소계,190,153,193,146,180,159,178,156,165,180,164,150,2014
17,금천구,소계,88,87,96,68,84,93,79,78,79,73,79,62,966
18,영등포구,소계,203,202,211,172,213,189,180,182,159,187,171,147,2216
19,동작구,소계,141,152,149,132,149,148,143,155,148,141,144,134,1736
20,관악구,소계,129,139,136,110,134,129,121,113,107,111,133,127,1489
21,서초구,소계,186,137,159,140,165,149,131,135,142,164,140,149,1797
22,강남구,소계,192,183,194,167,228,236,192,206,170,231,176,175,2350
23,송파구,소계,278,275,316,253,291,225,234,263,227,281,258,213,3114
24,강동구,소계,228,201,218,174,170,170,185,180,173,219,171,160,2249

In [33]:
df_pop_size = df3[['동별(2)', '23년 출생인구']]
df_pop_size.columns = ['자치구', '23년 출생인구']
df_pop_size

     자치구  23년 출생인구
0    종로구       407
1     중구       550
2    용산구      1047
3    성동구      1521
4    광진구      1279
5   동대문구      1393
6    중랑구      1811
7    성북구      1758
8    강북구       863
9    도봉구      1022
10   노원구      2117
11   은평구      1777
12  서대문구      1332
13   마포구      1628
14   양천구      1534
15   강서구      2684
16   구로구      2014
17   금천구       966
18  영등포구      2216
19   동작구      1736
20   관악구      1489
21   서초구      1797
22   강남구      2350
23   송파구      3114
24   강동구      2249

In [34]:
df_born = pd.read_csv('합계출산율+및+모의+연령별+출산율_20240428133549.csv')

In [35]:
df_born = df_born[['자치구별(1)', '2022']].iloc[2:]
df_born.columns = ['자치구', '22년 출산율']
df_born

      자치구 22년 출산율
2     강남구   0.490
3     강동구   0.719
4     강북구   0.483
5     강서구   0.588
6     관악구   0.422
7     광진구   0.461
8     구로구   0.684
9     금천구   0.588
10    노원구   0.716
11    도봉구   0.573
12   동대문구   0.620
13    동작구   0.567
14    마포구   0.529
15   서대문구   0.607
16  서울특별시   0.593
17    서초구   0.599
18    성동구   0.723
19    성북구   0.649
20    송파구   0.598
21    양천구   0.608
22   영등포구   0.671
23    용산구   0.596
24    은평구   0.613
25    종로구   0.477
26     중구   0.606
27    중랑구   0.659

In [36]:
df_born_size = df_born[df_born['자치구'] != '서울특별시'].reset_index(drop = True)
df_born_size

     자치구 22년 출산율
0    강남구   0.490
1    강동구   0.719
2    강북구   0.483
3    강서구   0.588
4    관악구   0.422
5    광진구   0.461
6    구로구   0.684
7    금천구   0.588
8    노원구   0.716
9    도봉구   0.573
10  동대문구   0.620
11   동작구   0.567
12   마포구   0.529
13  서대문구   0.607
14   서초구   0.599
15   성동구   0.723
16   성북구   0.649
17   송파구   0.598
18   양천구   0.608
19  영등포구   0.671
20   용산구   0.596
21   은평구   0.613
22   종로구   0.477
23    중구   0.606
24   중랑구   0.659

## 합치기

In [37]:
df_new2 = pd.merge(pd.merge(pd.merge(df_kdg_private_size, df_kdg2_private_size, on='자치구'), df_pop_size, on = '자치구'), df_born_size, on = '자치구')
df_new2

     자치구  사립어린이집수  사립유치원수  23년 출생인구 22년 출산율
0    강남구       45      25      2350   0.490
1    강동구       65      26      2249   0.719
2    강북구       37      17       863   0.483
3    강서구       76      43      2684   0.588
4    관악구       45      23      1489   0.422
5    광진구       52      30      1279   0.461
6    구로구       58      22      2014   0.684
7    금천구       35      12       966   0.588
8    노원구       38      58      2117   0.716
9    도봉구       45      25      1022   0.573
10  동대문구       43      25      1393   0.620
11   동작구       37      28      1736   0.567
12   마포구       27      17      1628   0.529
13  서대문구       31      18      1332   0.607
14   서초구       22      19      1797   0.599
15   성동구       17      18      1521   0.723
16   성북구       41      37      1758   0.649
17   송파구       85      40      3114   0.598
18   양천구       37      34      1534   0.608
19  영등포구       41      30      2216   0.671
20   용산구       17      13      1047   0.596
21   은평구       79      32      1777   0.613
22   종로구        5      12       407   0.477
23    중구        3      10       550   0.606
24   중랑구       63      24      1811   0.659

In [38]:
# df_new2.to_csv('태블로 발표 시각화2.csv', index = False)

In [39]:
df_2540 = pd.read_csv('주민등록인구(연령별_동별)_20240401162122.csv')
df_2540.head()

,동별(1),항목,2023 4/4,2023 4/4.1,2023 4/4.2,2023 4/4.3,2023 4/4.4,2023 4/4.5,2023 4/4.6,2023 4/4.7,...,2023 4/4.10,2023 4/4.11,2023 4/4.12,2023 4/4.13,2023 4/4.14,2023 4/4.15,2023 4/4.16,2023 4/4.17,2023 4/4.18,2023 4/4.19
0,동별(1),항목,0~4세,5~9세,10~14세,15~19세,20~24세,25~29세,30~34세,35~39세,...,50~54세,55~59세,60~64세,65~69세,70~74세,75~79세,80~84세,85~89세,90~94세,95~99세
1,종로구,한국인,2342,3577,4540,5199,9113,12383,10882,8440,...,12414,11501,11332,9357,6218,5285,4328,2316,760,201
2,중구,한국인,2687,2943,2898,3258,6727,10810,11558,9306,...,9725,9343,9763,8570,5766,4725,3669,1892,704,172
3,용산구,한국인,5068,6021,6394,7226,11634,18469,20723,16687,...,18203,16114,16085,13241,8650,6972,5633,3272,1150,265
4,성동구,한국인,7856,9037,8340,9511,17016,23963,23946,21718,...,23174,21275,21339,17239,11350,9057,6892,3425,1036,217

In [41]:
df1 = pd.read_csv('서울시 어린이집 정보(표준 데이터).csv')
df1

,시군구명,어린이집코드,어린이집명,어린이집유형,운영현황,우편번호,상세주소,전화번호,팩스번호,홈페이지주소,...,교직원현황-보육교사,교직원현황-특수교사,교직원현황-치료교사,교직원현황-영양사,교직원현황-간호사,교직원현황-간호조무사,교직원현황-조리원,교직원현황-사무직원,교직원현황-총계,데이터수집일
0,종로구,11110000180,로카키즈어린이집,직장,정상,3184.0,서울특별시 종로구 새문안로2길 10 1층,02-739-8042,NaN,NaN,...,4.0,0.0,거짓,0.0,0.0,0.0,1.0,0.0,6.0,2022/10/26 22:01:35
1,종로구,11110000166,푸르지오어린이집,직장,폐지,3182.0,서울특별시 종로구 신문로1가 새문안로 75,02-2288-2761,02-2288-2761,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022/10/26 22:01:35
2,종로구,11110000162,아이누리 어린이집,직장,정상,3174.0,서울특별시 종로구 사직로8길 20 파크팰리스 제1층 제101호,02-6959-7695,02-6959-7696,NaN,...,10.0,0.0,거짓,0.0,0.0,0.0,2.0,0.0,13.0,2022/10/26 22:01:35
3,종로구,11110000158,현대해상 온마음어린이집,직장,정상,3176.0,서울특별시 종로구 신문로2가 경희궁1길 9,02-725-5355,02-725-5356,NaN,...,12.0,0.0,거짓,0.0,0.0,0.0,2.0,0.0,16.0,2022/10/26 22:01:35
4,종로구,11110000157,LG광화문어린이집,직장,정상,3184.0,서울특별시 종로구 신문로2가 새문안로 58,070-4065-0286,070-4065-0287,NaN,...,9.0,0.0,거짓,0.0,0.0,0.0,1.0,0.0,11.0,2022/10/26 22:01:35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9207,동작구,11590000327,상도놀이방,가정,폐지,156032.0,서울 동작구 상도2동 169-102,02-826-2226,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022/10/26 09:19:45
9208,강남구,11680000372,언북몬테소리어린이집,민간,폐지,135100.0,서울 강남구 청담동,02-546-3369,070-8118-3362,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022/10/26 09:13:35
9209,은평구,11380000532,한소리어린이집,민간,폐지,122908.0,서울 은평구 응암1동 98-15,02-388-7683,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022/10/26 22:03:26
9210,은평구,11380000510,꿈동이그림놀이방,가정,폐지,122010.0,서울 은평구 응암동 288-12,02-309-7374,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022/10/26 22:03:26
9211,동대문구,11230000497,육아종합지원센터 제기점,국공립,정상,2476.0,서울특별시 동대문구 약령시로7길 19,02-923-2272,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022/06/15 09:29:56

In [42]:
df1.columns

Index(['시군구명', '어린이집코드', '어린이집명', '어린이집유형', '운영현황', '우편번호', '상세주소', '전화번호',
       '팩스번호', '홈페이지주소', '보육실수', '보육실 면적', '놀이터수', 'CCTV총설치수', '보육교직원수', '정원',
       '현원', '시설 위도(좌표값)', '시설 경도(좌표값)', '통학차량운영여부', '인가일자', '휴지시작일자',
       '휴지종료일자', '폐지일자', '데이터기준일자', '제공서비스', '반수-만0세', '반수-만1세', '반수-만2세',
       '반수-만3세', '반수-만4세', '반수-만5세', '반수-영아혼합(만0~2세)', '반수-유아혼합(만3~5세)',
       '반수-특수장애', '반수-총계', '아동수-만0세', '아동수-만1세', '아동수-만2세', '아동수-만3세',
       '아동수-만4세', '아동수-만5세', '아동수-영아혼합(만0~2세)', '아동수-유아혼합(만3~5세)', '아동수-특수장애',
       '아동수-총계', '근속년수-1년미만', '근속년수-1년이상~2년미만', '근속년수-2년이상~4년미만',
       '근속년수-4년이상~6년미만', '근속년수-6년이상', '교직원현황-원장', '교직원현황-보육교사', '교직원현황-특수교사',
       '교직원현황-치료교사', '교직원현황-영양사', '교직원현황-간호사', '교직원현황-간호조무사', '교직원현황-조리원',
       '교직원현황-사무직원', '교직원현황-총계', '데이터수집일'],
      dtype='object')

In [43]:
df1 = df1[['시군구명', '어린이집명', '운영현황', '시설 위도(좌표값)', '시설 경도(좌표값)']]
df1.head()

  시군구명         어린이집명 운영현황  시설 위도(좌표값)  시설 경도(좌표값)
0  종로구      로카키즈어린이집   정상   37.568704  126.971979
1  종로구      푸르지오어린이집   폐지   37.570600  126.972949
2  종로구     아이누리 어린이집   정상   37.573931  126.970590
3  종로구  현대해상 온마음어린이집   정상   37.571131  126.971008
4  종로구     LG광화문어린이집   정상   37.569275  126.971579

In [44]:
df1 = df1[(df1['운영현황'] == '정상') | (df1['운영현황'] == '재개')]
df1

      시군구명           어린이집명 운영현황  시설 위도(좌표값)  시설 경도(좌표값)
0      종로구        로카키즈어린이집   정상   37.568704  126.971979
2      종로구       아이누리 어린이집   정상   37.573931  126.970590
3      종로구    현대해상 온마음어린이집   정상   37.571131  126.971008
4      종로구       LG광화문어린이집   정상   37.569275  126.971579
5      종로구  KIM&CHANG 어린이집   정상   37.572274  126.970990
...    ...             ...  ...         ...         ...
9201  동대문구   꿈자람공동육아방 배봉산점   정상  127.062735   37.578443
9203  동대문구  꿈자람공동육아방 장안1호점   정상  127.068589   37.572344
9204  동대문구    꿈자람공동육아방 용신점   정상  127.029898   37.572272
9205  동대문구  꿈자람공동육아방 장안2호점   정상  127.067546   37.573657
9211  동대문구    육아종합지원센터 제기점   정상  127.034670   37.583729

[4823 rows x 5 columns]

In [45]:
df1.isna().sum()

시군구명          0
어린이집명         0
운영현황          0
시설 위도(좌표값)    0
시설 경도(좌표값)    0
dtype: int64

In [56]:
df1.reset_index(drop = True, inplace = True)

In [57]:
df1_change = df1[df1['시설 위도(좌표값)'] > 40]
df1_change

      시군구명                       어린이집명 운영현황  시설 위도(좌표값)  시설 경도(좌표값)
4723   광진구  광진구육아종합지원센터(꾸미팡팡공동육아방 3호점)   정상  127.072710   37.554593
4724   중랑구                     중랑실내놀이터   정상  127.085681   37.572388
4725   양천구             목동깨비장난감도서관공동육아방   정상  126.864113   37.548189
4726   중랑구                   망우자람공동육아방   정상  127.098168   37.592371
4727   금천구                     새길과학놀이터   정상  126.907470   37.440242
...    ...                         ...  ...         ...         ...
4818  동대문구               꿈자람공동육아방 배봉산점   정상  127.062735   37.578443
4819  동대문구              꿈자람공동육아방 장안1호점   정상  127.068589   37.572344
4820  동대문구                꿈자람공동육아방 용신점   정상  127.029898   37.572272
4821  동대문구              꿈자람공동육아방 장안2호점   정상  127.067546   37.573657
4822  동대문구                육아종합지원센터 제기점   정상  127.034670   37.583729

[100 rows x 5 columns]

In [59]:
df_1 = df1.iloc[:4723]
df_1

     시군구명           어린이집명 운영현황  시설 위도(좌표값)  시설 경도(좌표값)
0     종로구        로카키즈어린이집   정상   37.568704  126.971979
1     종로구       아이누리 어린이집   정상   37.573931  126.970590
2     종로구    현대해상 온마음어린이집   정상   37.571131  126.971008
3     종로구       LG광화문어린이집   정상   37.569275  126.971579
4     종로구  KIM&CHANG 어린이집   정상   37.572274  126.970990
...   ...             ...  ...         ...         ...
4718  강북구       구립인수동어린이집   정상   37.641484  127.014114
4719  강북구        구립백운어린이집   정상   37.644595  127.010179
4720  강북구        즐거운숲어린이집   재개   37.640241  127.010806
4721  금천구          봄빛어린이집   정상   37.552310  127.273472
4722  은평구       구립 내일어린이집   정상   38.273566  126.123500

[4723 rows x 5 columns]

In [61]:
df1_change.rename(columns={'시설 위도(좌표값)':'시설 경도(좌표값)', '시설 경도(좌표값)':'시설 위도(좌표값)'}, inplace=True)
df1_change

C:\Users\yju12\AppData\Local\Temp\ipykernel_1620\3452811537.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_change.rename(columns={'시설 위도(좌표값)':'시설 경도(좌표값)', '시설 경도(좌표값)':'시설 위도(좌표값)'}, inplace=True)

      시군구명                       어린이집명 운영현황  시설 경도(좌표값)  시설 위도(좌표값)
4723   광진구  광진구육아종합지원센터(꾸미팡팡공동육아방 3호점)   정상  127.072710   37.554593
4724   중랑구                     중랑실내놀이터   정상  127.085681   37.572388
4725   양천구             목동깨비장난감도서관공동육아방   정상  126.864113   37.548189
4726   중랑구                   망우자람공동육아방   정상  127.098168   37.592371
4727   금천구                     새길과학놀이터   정상  126.907470   37.440242
...    ...                         ...  ...         ...         ...
4818  동대문구               꿈자람공동육아방 배봉산점   정상  127.062735   37.578443
4819  동대문구              꿈자람공동육아방 장안1호점   정상  127.068589   37.572344
4820  동대문구                꿈자람공동육아방 용신점   정상  127.029898   37.572272
4821  동대문구              꿈자람공동육아방 장안2호점   정상  127.067546   37.573657
4822  동대문구                육아종합지원센터 제기점   정상  127.034670   37.583729

[100 rows x 5 columns]

In [64]:
df1_change = df1_change[['시군구명', '어린이집명', '운영현황', '시설 위도(좌표값)', '시설 경도(좌표값)']]
df1_change

      시군구명                       어린이집명 운영현황  시설 위도(좌표값)  시설 경도(좌표값)
4723   광진구  광진구육아종합지원센터(꾸미팡팡공동육아방 3호점)   정상   37.554593  127.072710
4724   중랑구                     중랑실내놀이터   정상   37.572388  127.085681
4725   양천구             목동깨비장난감도서관공동육아방   정상   37.548189  126.864113
4726   중랑구                   망우자람공동육아방   정상   37.592371  127.098168
4727   금천구                     새길과학놀이터   정상   37.440242  126.907470
...    ...                         ...  ...         ...         ...
4818  동대문구               꿈자람공동육아방 배봉산점   정상   37.578443  127.062735
4819  동대문구              꿈자람공동육아방 장안1호점   정상   37.572344  127.068589
4820  동대문구                꿈자람공동육아방 용신점   정상   37.572272  127.029898
4821  동대문구              꿈자람공동육아방 장안2호점   정상   37.573657  127.067546
4822  동대문구                육아종합지원센터 제기점   정상   37.583729  127.034670

[100 rows x 5 columns]

In [67]:
df1 = pd.concat([df_1, df1_change])
df1

      시군구명           어린이집명 운영현황  시설 위도(좌표값)  시설 경도(좌표값)
0      종로구        로카키즈어린이집   정상   37.568704  126.971979
1      종로구       아이누리 어린이집   정상   37.573931  126.970590
2      종로구    현대해상 온마음어린이집   정상   37.571131  126.971008
3      종로구       LG광화문어린이집   정상   37.569275  126.971579
4      종로구  KIM&CHANG 어린이집   정상   37.572274  126.970990
...    ...             ...  ...         ...         ...
4818  동대문구   꿈자람공동육아방 배봉산점   정상   37.578443  127.062735
4819  동대문구  꿈자람공동육아방 장안1호점   정상   37.572344  127.068589
4820  동대문구    꿈자람공동육아방 용신점   정상   37.572272  127.029898
4821  동대문구  꿈자람공동육아방 장안2호점   정상   37.573657  127.067546
4822  동대문구    육아종합지원센터 제기점   정상   37.583729  127.034670

[4823 rows x 5 columns]

In [73]:
df1 = df1.drop(columns='운영현황')
df1

      시군구명           어린이집명  시설 위도(좌표값)  시설 경도(좌표값)
0      종로구        로카키즈어린이집   37.568704  126.971979
1      종로구       아이누리 어린이집   37.573931  126.970590
2      종로구    현대해상 온마음어린이집   37.571131  126.971008
3      종로구       LG광화문어린이집   37.569275  126.971579
4      종로구  KIM&CHANG 어린이집   37.572274  126.970990
...    ...             ...         ...         ...
4818  동대문구   꿈자람공동육아방 배봉산점   37.578443  127.062735
4819  동대문구  꿈자람공동육아방 장안1호점   37.572344  127.068589
4820  동대문구    꿈자람공동육아방 용신점   37.572272  127.029898
4821  동대문구  꿈자람공동육아방 장안2호점   37.573657  127.067546
4822  동대문구    육아종합지원센터 제기점   37.583729  127.034670

[4823 rows x 4 columns]

In [75]:
df1.to_csv('어린이집 위경도 추가.csv', index=False, encoding='utf-8')